@import '../base/_variables';
@import '../base/_scrollbar.scss';
$color-bg-dialog-title:rgba(250, 250, 250, 1);

//页面内对话框弹窗样式，非dialog构造型对话框
.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  z-index: 1003;
  background: rgba(50, 50, 50, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;

  >.content {
    position: absolute;
    top: 5%;
    bottom: 10%; // left: 50%;
    max-width: 1500px;
    z-index: 150;
    @include dis-flex();
    @include flex-center();
    @include flex-direction-column();
    justify-content: center; // @include trf(translate(-50%, 0));
    -webkit-animation: popup-zoom2 .2s ease-out;
    animation: popup-zoom2 .2s ease-out;
    will-change: transform;

    >.title {
      position: relative;
      padding: 0 15px;
      font-weight: 700;
      font-size: 14px;
      background: $color-bg-dialog-title;
      line-height: 38px;
      cursor: move;
      width: 100%;
      border-radius: $border-radius $border-radius 0 0;

      .close {
        float: right;
        padding: 10px;
        width: 22px;
        height: 22px;
        margin-top: 8px;
        margin-right: -8px;
        line-height: 1;
        font-size: 0;
        font-weight: 400;
        color: transparent;
        text-decoration: none;
        background-image: url($bgGroup);
        background-repeat: no-repeat;
        overflow: hidden;
        background-position: -98px -386px;

        &:hover {
          -ms-background-position-y: -407px;
          background-position-y: -407px;
        }
      }
    }

    >.body {
      width: 100%;
      max-height: 100%;
      // min-height: 280px;
      min-width: 320px;
      background: #fff;
      overflow-x: hidden;
      @extend %scrollbar-white;

      &.mini {
        min-height: 0;
      }

      >.content {
        padding: 12px 20px;
        max-height: 100%;
        overflow-x: hidden;
        @extend %scrollbar-white;
      }
    }

    >.footer {
      position: relative;
      height: 54px;
      flex: none;
      // border-top: 1px solid #eee; 
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 10px; // margin-top: -1px;
      text-align: right;
      background: $color-bg-dialog-title;
      border-radius: 0 0 $border-radius $border-radius;

      &.style-divider {
        padding: 16px 20px;
        border-top: 1px solid $color-border;
      }
    }

    input,
    select {
      vertical-align: middle;
    }
  }
}

@-webkit-keyframes popup-zoom2 {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes popup-zoom2 {
  from {
    opacity: 0;
    opacity: 0;
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

//提示框样式
.popup-tips {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  color: #333;
  z-index: 10028;
  text-align: center;
  transition: .35s;
  // -webkit-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
  -webkit-animation: popuptips 0.05s linear;
  animation: popuptips 0.05s linear;

  >.popup-inner {
    background: #fff;
    display: inline-block;
    min-width: 240px;
    padding: 34px 50px;
    border-radius: 4px;
    box-shadow: 0px 0px 7px 0px rgba(156, 156, 156, 0.3);
  }

  .icon {
    position: relative;
    display: inline-block;
    font-family: "iconfont";
    margin-bottom: 12px;
    width: 50px;
    height: 50px;
    font-size: 50px;
    line-height: 1;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    color: $color-primary;

    &:after {
      content: '';
      position: absolute;
      left: 3px;
      bottom: -4px;
      width: 43px;
      height: 10px;
      border-radius: 50%;
      background: #F6F6F6;
    }

    &:before {
      position: relative;
      content: '\e6c3';
      z-index: 2;
    }

    &.i-error {
      color: $color-danger;

      &:before {
        content: '\e6c2';
      }
    }

    &.i-warning {
      color: $color-warning;

      &:before {
        content: '\e6c1';
      }
    }
  }

  .content {}
}

@-webkit-keyframes popuptips {
  from {
    transform: rotateX(50deg);
    opacity: 0;
  }

  to {
    transform: rotateX(0);
    opacity: .9;
  }
}

@keyframes popuptips {
  from {
    transform: rotateX(50deg);
    opacity: 0;
  }

  to {
    transform: rotateX(0);
    opacity: .9;
  }
}


.PCwaiting {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -50px;
  z-index: 8888;

  .circle-box {
    position: absolute;
    -webkit-transform: rotate(136deg);
    transform: rotate(136deg);

    .svg {
      -webkit-animation: am-waiting 0.7s linear infinite;
      animation: am-waiting 0.7s linear infinite;

      .circle {
        stroke: $color-primary !important;
      }
    }

    &.inner {
      left: 12px;
      top: 12px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);

      .svg {
        -webkit-animation-name: am-waiting-2;
        animation-name: am-waiting-2;
      }
    }
  }
}

@-webkit-keyframes am-waiting {
  from {}

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

@keyframes am-waiting {
  from {}

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}