/*栏目管理页面样式*/

.z-tree {
  .treeBanner {}
  .list {
    &.toplist {
      >.item {
        padding: 0 10px;
        cursor: pointer;
        border-radius: 6px;
        &.on {
          background: #fff;
          color: #0071b6;
        }
        &:hover {
          background: #fff;
        }
      }
    }
  }
}

.data-content {
  .btn-iconsearch {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn-iconsearch+button {
    background: none;
    margin-left: -5px;
    margin-right: 10px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 30px;
    i {
      font-size: 16px;
      color: #8d969c;
    }
  }
}

/*求购管理样式*/

.toBuy {
  .popup {
    .body {
      padding: 20px;
      display: flex;
      &.info-list {
        .set {
          &:first-child {
            background: #fcfcfc;
          }
          &:last-child {
            background: none;
          }
        }
      }
      .set {
        width: 475px;
        border: 1px solid #f0f0f0;
        padding: 20px;
        position: relative;
        .shbz {
          border: 1px solid #d6dbdf;
          border-radius: 5px;
          padding: 0 5px;
          display: block;
        }
        img {
          width: 30px;
          height: 30px;
          margin-right: 8px;
        }
        p.popupTitle {
          text-align: center;
          span {
            font-size: 15px;
            font-weight: bold;
            color: #333;
          }
        }
        &:last-child {
          background: #fcfcfc;
          border-left: 0;
        }
      }
    }
  }
}

.hr-line {
  border: 1px dashed #d8dcdf;
}

.l_timeline {
  >.p_record {
    width: 80px;
    position: absolute;
    bottom: 10px;
    &.on {
      position: relative;
    }
  }
}

/*小三角*/

.triggle:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: inherit;
  border-left-color: transparent;
  border-right-color: transparent;
  border-width: 4px 4px 0;
  margin-top: -2px;
  transition: .2s;
}

.triggle {
  position: relative;
}

.on .triggle:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  color: #0075B8;
}

/*一行输入两项内容*/

.two-line {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .item {
    width: 50%;
  }
}

/*新增品牌代理*/

.addAgent {
  .content {
    textarea {
      width: 100%;
    }
  }
}

/**显示form信息界面*/

.displayCon {
  img {
    width: 38px;
    height: 38px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
}

.set {
  .disHistory {
    border: 1px solid #d9dde0;
    border-radius: 5px;
    background: #fcfcfc;
    margin-top: 12px;
    padding: 16px;
  }
  .bg-border {
    border: 1px solid #d9dde0;
    border-radius: 5px;
    padding: 0 6px;
    background: #fcfcfc;
  }
}

/*tab切换*/

.tabBanner {
  display: flex;
  justify-content: center;
  li {
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #0089e1;
    color: #0089e1;
    margin-left: -1px;
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &.on {
      background: #0089e1;
      color: #fff;
    }
  }
}

/*入驻商审核*/

.prop-tree-left {
  float: left;
  height: 100%;
  width: 200px;
  margin: 4px 0 0 20px;
  .l-tree {
    background: $color-table-thead;
  }
}

/*系统配置*/

.l-con-tab {
  border: 1px solid $color-table-thead;
  border-radius: 5px;
  .l-cur-tab {
    .cur-flex {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $color-table-thead;
      text-align: center;
      >div:first-child {
        width: 200px;
      }
      >.set {
        border-left: 1px solid $color-table-thead;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

/*支付配置界面*/

.l-pay-config {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  flex-wrap: wrap;
  >.item {
    width: 49%;
    border: 1px solid $color-table-thead;
    border-radius: 5px;
    margin-bottom: 30px;
    >.title {
      background: $color-table-thead;
    }
    >.content {
      .dd-img {
        border: 1px solid $color-table-thead;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 15px;
        margin-right: 15px;
        img {
          width: 70px;
          height: 70px;
        }
      }
      dt {
        font-size: 18px;
      }
    }
  }
}