.justshow {
  &.thin {
    >tbody {
      >tr {
        >th,
        >td {
          line-height: 20px;
        }
      }
    }
  }
  >tbody {
    >tr {
      >th {
        border: 0!important;
        padding: 5px 0 !important;
        color: #666 !important;
        background: initial!important;
        font-weight: 400;
        text-align: right;
        white-space: nowrap;
        vertical-align: top;
        line-height: 30px;
      }
      >td {
        line-height: 30px;
        border: 0!important;
        padding: 5px 0 !important;
        padding-left: 14px !important;
        color: #333;
      }
    }
  }
  &.style2 {
    th {
      color: #666!important;
    }
    td {
      color: #333;
    }
  }
}