@import 'base/_variables';

.set {
  >.item {

    display: flex;
    line-height: $height-input;

    &:first-child {
      padding-top: 0;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    &+.item {
      margin-top: 12px;
    }

    >.title,
    >.name {
      min-width: 5em;
      margin-right: 8px;
      // line-height: $height-input;
      font-weight: 400;
      white-space: nowrap;
    }

    >.content {
      position: relative;
      line-height: inherit;
      text-align: left;
      flex: 1;

      .ipt-large {
        min-width: 260px;
      }

      .ipt-small {
        min-width: 100px;
      }

      &.area-box {
        overflow: initial;
      }
    }
  }

  @for $i from 3 through 15 {
    &.w#{$i}em {
      >.item {
        >.title {
          min-width:#{$i}em;
        }
      }

    }
  }

  &.text-left {
    >.item {

      >.title,
      >.name {
        min-width: auto;
        text-align: left;
      }
    }
  }

  &.thin {
    >.item {
      line-height: 20px;
      padding: 5px 0;
    }
  }
}


//ç«ç‹HACK
@-moz-document url-prefix() {
  .set {
    >.item {
      >.content {
        display: inline-block;
      }
    }
  }
}