.popup-tips {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  margin-top: -65px;
  margin-left: -150px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
  z-index: 10028;
  word-break: break-all;
  text-align: center;
  .pop-inner {
    position: relative;
    padding: 50px;
    padding-left: 110px;
    background: #fff;
    box-shadow: 0 0 10px #ddd;
    display: inline-block;
    max-width: 100%;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    -webkit-animation: popuptips 0.05s linear;
    animation: popuptips 0.05s linear;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    font-size: 60px;
    line-height: 60px;
    font-family: sans-serif;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    background: 0;
    color: $color-input-focus-border; // &:before {
    //   content: "\e67d";
    // }
    &.p-error {
      color: $color-danger; // &:before {
      //   content: "\e67e";
      // }
    }
    &.p-warning {
      color: $color-warning; // &:before {
      //   content: "\e72a";
      // }
    }
  }
  .content {
    text-align: left;
    overflow: hidden;
  }
}

@-webkit-keyframes popuptips {
  from {
    transform: rotateX(50deg);
    opacity: 0;
  }
  to {
    transform: rotateX(0);
    opacity: .9;
  }
}

@keyframes popuptips {
  from {
    transform: rotateX(50deg);
    opacity: 0;
  }
  to {
    transform: rotateX(0);
    opacity: .9;
  }
}

$color-circle:#179c6a;
.PCwaiting {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -50px;
  z-index: 8888;
  .circle-box {
    position: absolute;
    -webkit-transform: rotate(136deg);
    transform: rotate(136deg);
    .svg {
      -webkit-animation: am-waiting 0.7s linear infinite;
      animation: am-waiting 0.7s linear infinite;
      will-change: transform;
      .circle {
        stroke: $color-primary !important;
      }
    }
    &.inner {
      left: 12px;
      top: 12px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      .svg {
        -webkit-animation-name: am-waiting-2;
        animation-name: am-waiting-2;
      }
    }
  }
  .svg {}
}

@-webkit-keyframes am-waiting {
  from {}
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

@keyframes am-waiting {
  from {}
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

@-webkit-keyframes am-waiting-2 {
  from {}
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes am-waiting-2 {
  from {}
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.ui_border {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 0 20px #f2f2f2;
  .ui_lt,
  .ui_rt,
  .ui_l,
  .ui_r,
  .ui_lb,
  .ui_b,
  .ui_t,
  .ui_rb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #fff;
  }
}