//图片轮播区
@import 'base/_variables.scss';
.swiper {
    overflow: hidden;
    >.item {
        white-space: nowrap;
        font-size: 0;
        >.inner {
            display: inline-block;
            width: 100%;
            text-align: center;
            img {
                max-height: 300px;
            }
        }
    }
}
// cover the swiper CSS
.swiper-container-horizontal {
    >.swiper-pagination-bullets {
        bottom: 2px;
        .swiper-pagination-bullet {
            background: #bbb;
            opacity: .5;
        }
        .swiper-pagination-bullet-active {
            background:$color-warning;
            opacity: 1;
        }
    }
}