@charset "utf-8";
@import 'base/basePC';
@import '_dialog';
@import '_set';
@import 'base/iconfont';
@import 'base/_radio-check.scss';
@import 'base/_btn_tag.scss';

.content-title-l2{
    padding: 30px 0 10px 10px;
    border-bottom: 1px solid $color-border;
    font-weight: 400;
    line-height: 1;
}

.content-title-small{
    @extend .content-title;
    font-size: 14px;
}

.step{
    >.item{
        display: none;
        &.on{
            display: block;
        }
    }
}

.show-list{
	>.item{
		margin-bottom: 10px;
        >.set{
            position: relative;
            height: 578px;
            margin-left: 339px;
            border: 1px solid $color-border;
            background:#f4f6f9;
            &:before,&:after{
                content: "";
                position: absolute;
                left: -10px;
                bottom: 10px;
                border: 10px solid;
                border-color: transparent $color-border;
                border-left-width: 0;
            }
            &:after{
                left: -8px;
                border-right-color: #f4f6f9;
            }
        }
	}
}

.show {
    position: relative;
    overflow: hidden;
    border: 1px solid $color-border;
    &.phone {
        float: left;
        width: 319px;
        height: 578px;
        padding-bottom: 40px;
        text-align: left;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAT0AAAA/CAMAAACl+u8QAAADAFBMVEUsLTAoKCsnJyk8PEAoKCouLzInKCk5Oj0xMjQ0NTg8PUEiIyUvMDI5OTwmJigyMjU3ODs6Oj0mJikyMzYuLjEoKSwmJygwMTMkJSctLjEzNDchIiQ3NzslJig2NzosLC41NjkyMjYpKSwrLC86Oz40NDg7PD81NTkzMzcmJyk4ODsxMTQpKi0jJCclJScqKi0oKSswMDM2NzswMDIiIyYxMTM2NjqPj5A1Njrn5+fm5ueOjo+dnZ/Z2tpQUVNlZWc7O0A8PUBKS01NTU9ra21HSEqSkpRRUlRaWlzy8vPi4uJPT1L8/PzJyco3Nzrf3+Cbm5xeXmDPz9CRkZJCQkW2trhFRUh4eHltbW7Ozs9ubnBpaWunp6h7e335+fmzs7SAgIKEhIavr7C9vb7p6ur29vY/P0E5Oj6hoqLU1NXGxsfw8PCCg4RTU1Xr6+tUVVdjY2XX19e6urvc3N3d3d59foBnaGmysrPFxcbBwcJ1dneGhoiIiYrb29spKitiYmTR0dKMjI3MzM64uLm+v79ycnTt7e09PkKZmZu1tbY/P0LDw8TExMWcnJ5WV1nT09OUlJbMzM2Xl5jj4+PIyMk9PkCwsLGsrK3s7Ow5OT00NTaqqqwxMjMoKSrl5eXQ0NA1NTelpaeWl5ijo6Q8PD/k5OWpqaonJyqxsbKfoKGKioyNjY42Njk0NTljZ2siIiUqKy4jIyY6Oj4jJCYkJCc4OTw6Oz87Oz87PED///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADPhc20AAAACXBIWXMAAAsSAAALEgHS3X78AAAOhklEQVR4nO1aB1cbSRIewFhEWRgbxiwimbAEieA1awQCWyAyxgSTczIYTHLOOedsrzfv3ua7tZiRxPy7q+pRa0ajEcigu3u27nv9prqr6+vq+aYm8ATz6/bt+u16aJJVQu5XiwlePmPkom0cz7M8C43nOZ4jgA7pGziDgTfwBDhGv7xPbVDyoxnub4LP/v6MADoE0X9HQ0N/dLQt2kbwhe2LL7gvOM7G2cAVTUDnlGMIcsd9zHzUhWqC/ejPqC6oFsNLSlFQhtxSZalPzglePsN7aqtcWb66VI/enODkMzwHxSixsI/VSa0r2qPCuWixqmmFw+0AN4XUx7sDgtxx8rvnI+LT83deKPdGDVGXYTlyv1Ot6f1OrfwZoJkCWxlu48KtNCZtse8lx0195RXL2eqmzZMN5ulKuc/bUtg4p9nq4oePzT6/gDHdZ91rnhJOo20XOmDcKQhxXnxlft8+Rf6vCX8XCS1kca6Ix7nq9yK/d+RLbwzexGpjeBupOb7/ZCcw9GB4G288BSMY9o9m2wwGW82oEzP1tdhsU8KcjR8ZJu8cGzdYNnb61h/cD+fcu+G5wVM23mbTLQsNy9PT4w3Css5m8DwbSODiS2dX/e6N0GQT32nDj6t7mk9x5643NwIV8gP/eutQDAS2C2bgXxCETF5dHeRjfuqjfN/5w8sSbdxC61LrArfj7ImyqzzfPd6ywNnaxl38DkEFHR3kucfiWvyvLYIwtMjnEmPYjqaKt/U2CxP9HEcMZNMNFXGDLeO87XC3jS+EHTRNvOS5riHrQPf2VPIWT9TbuIcjuOMHk1cz8CwK/px8QN/+9EsA/fQM6BeApeM3oQnGFRU22+SgwdD4hO/rWGqkisQPVTV0A729RbDytitHBaeCT78iqGL4lUFVXDP/a5OQz/PmKn7xONcxxu0ts9rMIXWv+MiZgy5+rbp6dcBnxG+cHvSYPcxFvqYZTLvLYOaLC/zh+olcw/zL6sfmpWruXTnupil2YNg8cV/P3Sxbmqgqb7j1DHYVe4DvvjFRNn6Om4rz9Q0l/+biuCqhCfoXzTxvLeasQg/4xxrp/MnZ3Fct0Gk//bSWmxJGhJ+9+L6/5dbM31Q5m8inNMD0bGxLG88PzPEneOsyP36Z8n2oJ7SBekbylTiKngaFuYpmhhqI++mCsXH72UfW1q3Hq9m6E3xvlfiVOXAmxGiu581Wvm+ZrxgRz+GGYH792iyMiyP6NQrbNrAGluVYz69Ungf14Dg1hf2u1qfbwYw10rLqfcf3C1MsqDd33HC+t1/I9uKvjTXyz+ezlhMQcrH6eDXP1z7hD/c9HBmp6Oy2ilR19WqFUZ5j9GQFC9bXsEE0PDVlYJY50cAyhprxyuuG0Y7BH6yzhw4darC29OGOincNnGQNwzWG91V/XnnAgnrk23yhB3fcc0yqCdw5/W6XnxFaAwvqGdBCzOWGs/k4P9boOstOYeb6WaGcN7SfzhYsvaP9ws9efFEVwjdI61OV1sg/H8FbWoF3HNRjDU9+NOwYrKnu/Wum7XEc4auqV1t7NoflGb24g75/DF3/njWi+crIEsPyN69dPAoPNDAvGKPRyCbdKh9kLU9/67d8WwNI+mGaBZytH+jm2eGaXSc66vsfGCvmjCzEQk1XzM4+xF0aeSMB+hCYD33yMQu1V+niHZusJZbWnpGvbRgYGDCfMLLfDbPtr4WX/cIBLz7L0rzU0ppcJz/UXmwDOBt+fnrZyP4yCu7UK12Xf2Kf1fiuvdpa5DO5Rjfo6kZWq9Vr9dC02gRtAjQ6Xiq7p9V/WxZf2GjRHnhR1NXQptVffqwd6NZq7/ZUtmr1tWf0D0eRh/HdgnDOk+9pEdgXcUqoBN/073r946P19fX3YO5Voyt/4xgE9gkL2vZh7XmhXd8vvPTie66pvn/V/PPbtNrWKu1io/7ZmD5xogl8A936+nf66ct65Fc0qKh3/ioqxYTq9Ua9qJ7eKGbCjLkJudCkMdpc7e+tcBj7TptQ3/rdzCnt1rbnJ5ZaH7nUS72ydOXHhra+W3cov/yqgp8LTRwj5D5Urw78x83av8j2DgH/VSOJCX0knAIbPvRTbvtw7pRwQVsjTHnxpTy+96+a/8223ND6iZmJtoT4a623nsF8zd2E3G/uTz94T2IqapUfe+VflpdNoW7MVvFaGENhl9rQ0IRQaWXMAg5wi5lxNzjGGO1Xoi8uW4oJjf0m9Gt/+QmePu2H5g80P5bwv09FfvXXOP895YcWZmQUZBQUXCq4dKnwUiG0S5e0eqw25hus4tzc0NxQD2wN3QpN7MMkmUdfwlZxRewjMIbOBxs/IYEp0pLelq1boEkMylbOybP6igkePlO0hQBnERgpB/rlvpAtIdC844OTz2SEeABn5FHUKn2+EFx8pkC0O0N2QgsJKQopKtpZJPYR8jGNocA5OAQxnykoKNhZsHNnxs4MAuiQflFGETRxTIF+Ok9jgRzEfOZ9AQG8kslbWQ6F770che8Lofke+/J9JHxVTQoLCqHJtWGAhUAvzuIKhaKPLLP7/W5okpX71KCc+0T4RJeC954aFRQyqSqr7U5NZVIZZjeze3eqqw8HN8AJU5JPPo9zqZ8q30tl8BMGAiN3Q+T/4RsKrXZ5TO5C7Ni1A5pk5T7aZ3ZAMOPpp/jE+UQorEU4hIuroIq7mPDwHeE7CKBDgGO1PgX1ye2nzpd0ZmJ2uBEeHhMTHgNHsAjsI+TjGB8xNC4o+G5FGZk3JlGM2hOzB1pMTHFMcXFicWLinkRpDAcIk3zYhyASt1G+fyhWQWDyfzifKsskulmJ+Yn5+Xvz90LLz4/Ij4CWD65E4kcbkRgRsTdCnMe4xL2iDw4EG+X7B3VNA5F/A/ziPcWoKBPhno3YFrENmueelb61YjbK9w/bVBCY/Bvgu64dk55PQfaTvi0dmmTlkPuwTyGP2wjfP6ipF5j8/vKbRkaaXD6XZEy8qGl6RPrniPjP4++YqtPT49PjoYkWnOhfExjj4rt5H8LfLDabf31+5DT+YDAdScJdlci4VsVIZCd9fkcQRpKSspKyoCUlgQOaNJb7xfgkAuX4Q/kbQ+Dyr89/Jv4c9CP6Rb3S05lI2WYiIyOzQLw7WVlZkVnQj6S2rT5L4fMFnFfGqvn+U9hsfp/8zklRvcnOrEj3FWdyRJ0xCtU7JAiH0nLSoOUcqs3Jyak9PXyj9823LZ1pOTk3XhwVcebFeE5kDkFkTmQk9pETmSb14UCAfQSOqZ9yKN8/5KgiEPn94vfR3yJ7cmgNZ2Ux+zxYRLyUtBRoaZbe+50pN+4s1ltKxBXKqioJ6ioXy0pTSkv3le7bl7KPxKaVppWCS+y7+MRCwL60fSIfY+BA/HK+f0hTQWDy+8W/QNW7AHKJ6v4zh0kuJcBV04h4ycklySXQkpM1d2d0h8+J/ZTklBRTkzhXUmIxpZSkgCvZDZxHoI/y0VeSIvXpHELJ3yw2m39d/iBVb3AfAhUtTWNcLLwWKSheysGDKXk6EfZF3V2T2Ww+/nwJh6Deg2svWp7O6KpNOohJ1iVDE0NpP0+Xl6ejfJ3nWBkj528Mgcu/Lr+aqmcpOYgaHUTNGLsUieId1B2EhiNNfeUja97hm3bA+TE8mprsrW1Wa/2Evdpkz7OrIs+el0fn5H1fMYHGZvP74IMep0XxTut0kkaM3a31nCDcFUPtqPm9a/ffnNSN14zf1OXN9GMlmpo05jqN3dII6sUC7LF2aKJFaOwaAui4/cp5Oifn+wf1sw1EfhW+u+akWuyaR/Hmu0QfQpfHaNzsujKhrM5jR2f67Ffa2kxzc/eJz1RpN0OApRXUy4sVr4s8u9oZqfmwL+cHSr2N5veT/wTVe+LBZzKla3IM5ZNdG82ZmszZTntl42ydJlZD1DtxGe7c57HVJnC4rzPlK68txlB/rMaz1uR8/6BRRSDy+8n/BdX7xYPPOKWdxKF8x8Bq4ghAvZ4rGk2baf4PMjZVas70trT0tqxUm9wxcTK+Rhwr5+RjXzEbQ2Dzr8m/91B87j28J4thnCtuxK3gzXssjmLlTE9v+cp5U8/CrfOiehgD/rgmE1oSEyfnx3mAzsljRb6nb+MIbP61+IMm+s41DUp8qL3MlUz3AuTZhx1wZnYtXb3Wdf/iwsrK4mQb+EzdVf+qIjhnogSMk/FX1vI7VhzQvOP8g7p+gci/Pr++Xf6fj+311M9kv3175K24Kq7ulm9l5dz88vPD56q6wN1Z9ajTkWk6e9iFG2XyDHRXarujPmXsWjtXh0MFgcm/Ln+u2fMfR5vnyJzmLRMGxxWN5kimuB8nefaBdVgaa5y3R5ZbJ5uHgNzc5XDMVjqdmc5MiLRcczqcbhAf5YMfDl6WztFYOd8/qNVjYPKvy59U/t/tpMN5hNRe2JEjK0dEjR2O1VXHKsg3Sli3Kburq6vz3qrTeRvG2Y7sbGe2d4ZV5yqBY9V7FzgHBzJW4/sHdU0DkX9dfrNSvWaQDHVjwsRoWrHQWTjvWHUDs9KVs1ezs8Oyw8JWw0Q/gs4pxx/K3xgCl39N/skKBU669GJgFi4GXBLvKlerfOqTczbL9w/ZKghM/o3zsfZo5WLVyiud7Bmi4KK5ryG9A+hZyyt/o/xA3bn//f0zYZ7VTfu4EhxItdPrQtnK2M3y/b1L1RCI/BvnM1HSMwE19vXMQMADgzwz1OY2y98s/jf7B/Uc8kh5hK+Mypjg5TNRYWJFRklROBsVFhW16qpL6JA++hEYd2D1ADQpNizY+A7y1gD16JMbqzAqSorEKMpUrkJXl1+bKML+1PnytwwDDvnTU/kkdvlINgReI3lmet2oRfjyfWR8L03kd6/4fmZuizVH3zH0rU0Z1E/f1LRPV5Pzgo/P3BYj9zv371/d7/0kVdNd+YYPXj79YqGz8u/rVdlfbPJrQFdQxgQfH76WHStr/M251neZ2vMyqPiOfwPFEuJeUf89RgAAAABJRU5ErkJggg==);
        background-repeat: no-repeat;
        >.title{
            padding: 0 60px;
            margin: 30px 0 10px;
            text-align: center;
            color: #fff;
        }
    }
    .footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 1px solid $color-border;
        height: 40px;
        background:#fff;
        line-height: 40px;
        text-align: center;
        &.menu {
            .ico.keyboard{
                display: inline-block;
                width: 30px;
                height: 40px;
                margin: 0 10px;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAiCAYAAABBY8kOAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAdpJREFUeNrslbtLXFEQh901IoIB0fwFgqAgCEFsoiBY2QiirFgoFkIaE8EIiSA+MdgIVoKlhc1a+0AbQV2NkociCkkhChrRBWF9beOu3wm/wC3uPu5eVi32wMfMZe+Z35nZOXM90Wg06ymWN+uJVkbo3/L5fB3gSasQAm8wU9CQ7oy6IQ+GnWTldZhNPqZLjxXQlK6M3kMB3MIVfEx2oydzYV+80CubzvqEadMhIinENC1v/vglv9//xbYZEDF3ZNLcEbjXJqfLBMyBURhHrM8uow6Y5scht6Xi0GFMK9gKXVpefI2pgWM4glo40P15B991+krY1P0qg20OGsTmWuN5bdLOll8O8yZDKJHfA1XymzXv5iX8WX699mfHbQbL+q3Ae8rKNMkqnMpfhgf5P+Bce9aS6jrLuoOAAoTln8GNShVUBYwfUocGVFpH9+gtbMEclCrgIFQrYDu0yK+DMb3T6DSjPzACO3Cidl20+CsqnfF/KkNT1nVHQnTOhTL4vwYS+OYAG0lPBkt7F2NmUrhCvRzyWyIhj2XsmMnwK4XxE5IfiSdUBIcq3V/MBxfD4RoKYwktQD9l23U560zcrzAb8wuLyIRGj9tP7z50Uplo5lOeEXoeoUcBBgDTXpMIyqg+4QAAAABJRU5ErkJggg==);
                background-repeat: no-repeat;
                background-position: 50%;
            }
            a{
                display: block;
                padding: 0 4px;
                text-decoration: none;
                color: $color;
            }
            >.item {
                position: relative;
                // border-left: 1px solid darken($color-border, 4%);
                box-shadow: -1px 0 $color-border;
                background:inherit;
                z-index: 1;
                >.title {
                    position: relative;
                    padding: 0 5px;
                    background:inherit;
                    cursor: pointer;
                    z-index: 2;
                    &.wealthy{
                        &:after{
                            content: '';
                            position: absolute;
                            right: 6px;
                            bottom: 6px;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 8px 8px 0 0;
                            border-color: transparent $color-border;
                        }
                    }
                    >.inner{
                        max-width: 10em;
                        margin: 0 auto;
                        @extend .text-ellipsis;
                    }
                }
                >.content {
                    position: absolute;
                    bottom: 100%;
                    left: -1px;
                    right: -1px;
                    margin-bottom: 16px;
                    opacity: 0;
                    background:#fff;
                    @include trf-origin(bottom);
                    @include trf-scale(0);
                    will-change:transform;
                    &:after{
                        content: '';
                        position: absolute;
                        bottom: -6px;
                        left: 50%;
                        width: 12px;
                        height: 12px;
                        border:1px solid $color-border;
                        border-width: 0 1px 1px 0;
                        background:#fff;
                        @include trf(translate(-50%,0) rotate(45deg));
                    }
                    .add{
                        font-weight: 700;
                        color: $color-anchor;
                        &:hover{
                            color:$color-anchor-hover;
                        }
                    }
                }
                &.on{
                    >.content{
                        opacity: 1;
                        @include trf-scale(1);
                    }
                    .on{
                        color: $color-primary;
                        a{
                            color: inherit;
                        }
                    }
                }
                ul{
                    border-bottom: 0;
                    -webkit-transition: .2s;
                    transition: .2s;
                }
                li{
                    margin-top: -1px;
                    padding: 0 5px;
                    border: 1px solid $color-border;
                    cursor: pointer;
                    @extend .text-ellipsis;
                }
                .menu-l2{
                    .js-toggle{
                        padding: 0;
                        cursor: move;
                        a{
                            cursor: move;
                        }
                    }
                    [data-placeholder]{
                        border: 1px dashed #888;
                    }
                }
            }
        }
    }
}

.own.list{
    margin-top: 30px;
    margin-right: -3px;
    counter-reset: list;
    >li{
        float: left;
        width: 33.33%;
        padding: 0 20px;
        border: 1px solid $color-border;
        margin: -1px 0 0 -1px;
        line-height: 40px;
        @extend .text-ellipsis;
    }
    >.item{
        &:before{
            counter-increment: list;
            content:counter(list)'ã€';
        }
    }
}