@charset "utf-8";
@import 'base/basePC';
@import 'dialog';
@import 'set';
@import 'base/_iconfont';
@import 'base/_radio-check';
@import 'base/_btn_tag';
.content-title-l2 {
  padding: 30px 0 10px 10px;
  border-bottom: 1px solid $color-border;
  font-weight: 400;
  line-height: 1;
}

.content-title-small {
  @extend .content-title;
  font-size: 14px;
}

.step {
  >.item {
    display: none;
    &.on {
      display: block;
    }
  }
}

.show-list {
  >.item {
    margin-bottom: 10px;
    >.set {
      position: relative;
      height: 576px;
      margin-left: 340px;
      border: 1px solid $color-border;
      background: #f4f6f9;
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: -20px;
        bottom: 10px;
        border: 10px solid transparent;
        border-right-color: $color-border;
      }
      &:after {
        left: -18px;
        border-right-color: #f4f6f9;
      }
    }
  }
}

.show {
  position: relative;
  border: 1px solid $color-border;
  &.phone {
    float: left;
    width: 322px;
    height: 576px;
    padding-bottom: 40px;
    padding-top: 64px;
    text-align: left;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUAAAABACAMAAAErPm66AAAKQ2lDQ1BJQ0MgcHJvZmlsZQAAeNqdU3dYk/cWPt/3ZQ9WQtjwsZdsgQAiI6wIyBBZohCSAGGEEBJAxYWIClYUFRGcSFXEgtUKSJ2I4qAouGdBiohai1VcOO4f3Ke1fXrv7e371/u855zn/M55zw+AERImkeaiagA5UoU8Otgfj09IxMm9gAIVSOAEIBDmy8JnBcUAAPADeXh+dLA//AGvbwACAHDVLiQSx+H/g7pQJlcAIJEA4CIS5wsBkFIAyC5UyBQAyBgAsFOzZAoAlAAAbHl8QiIAqg0A7PRJPgUA2KmT3BcA2KIcqQgAjQEAmShHJAJAuwBgVYFSLALAwgCgrEAiLgTArgGAWbYyRwKAvQUAdo5YkA9AYACAmUIszAAgOAIAQx4TzQMgTAOgMNK/4KlfcIW4SAEAwMuVzZdL0jMUuJXQGnfy8ODiIeLCbLFCYRcpEGYJ5CKcl5sjE0jnA0zODAAAGvnRwf44P5Dn5uTh5mbnbO/0xaL+a/BvIj4h8d/+vIwCBAAQTs/v2l/l5dYDcMcBsHW/a6lbANpWAGjf+V0z2wmgWgrQevmLeTj8QB6eoVDIPB0cCgsL7SViob0w44s+/zPhb+CLfvb8QB7+23rwAHGaQJmtwKOD/XFhbnauUo7nywRCMW735yP+x4V//Y4p0eI0sVwsFYrxWIm4UCJNx3m5UpFEIcmV4hLpfzLxH5b9CZN3DQCshk/ATrYHtctswH7uAQKLDljSdgBAfvMtjBoLkQAQZzQyefcAAJO/+Y9AKwEAzZek4wAAvOgYXKiUF0zGCAAARKCBKrBBBwzBFKzADpzBHbzAFwJhBkRADCTAPBBCBuSAHAqhGJZBGVTAOtgEtbADGqARmuEQtMExOA3n4BJcgetwFwZgGJ7CGLyGCQRByAgTYSE6iBFijtgizggXmY4EImFINJKApCDpiBRRIsXIcqQCqUJqkV1II/ItchQ5jVxA+pDbyCAyivyKvEcxlIGyUQPUAnVAuagfGorGoHPRdDQPXYCWomvRGrQePYC2oqfRS+h1dAB9io5jgNExDmaM2WFcjIdFYIlYGibHFmPlWDVWjzVjHVg3dhUbwJ5h7wgkAouAE+wIXoQQwmyCkJBHWExYQ6gl7CO0EroIVwmDhDHCJyKTqE+0JXoS+cR4YjqxkFhGrCbuIR4hniVeJw4TX5NIJA7JkuROCiElkDJJC0lrSNtILaRTpD7SEGmcTCbrkG3J3uQIsoCsIJeRt5APkE+S+8nD5LcUOsWI4kwJoiRSpJQSSjVlP+UEpZ8yQpmgqlHNqZ7UCKqIOp9aSW2gdlAvU4epEzR1miXNmxZDy6Qto9XQmmlnafdoL+l0ugndgx5Fl9CX0mvoB+nn6YP0dwwNhg2Dx0hiKBlrGXsZpxi3GS+ZTKYF05eZyFQw1zIbmWeYD5hvVVgq9ip8FZHKEpU6lVaVfpXnqlRVc1U/1XmqC1SrVQ+rXlZ9pkZVs1DjqQnUFqvVqR1Vu6k2rs5Sd1KPUM9RX6O+X/2C+mMNsoaFRqCGSKNUY7fGGY0hFsYyZfFYQtZyVgPrLGuYTWJbsvnsTHYF+xt2L3tMU0NzqmasZpFmneZxzQEOxrHg8DnZnErOIc4NznstAy0/LbHWaq1mrX6tN9p62r7aYu1y7Rbt69rvdXCdQJ0snfU6bTr3dQm6NrpRuoW623XP6j7TY+t56Qn1yvUO6d3RR/Vt9KP1F+rv1u/RHzcwNAg2kBlsMThj8MyQY+hrmGm40fCE4agRy2i6kcRoo9FJoye4Ju6HZ+M1eBc+ZqxvHGKsNN5l3Gs8YWJpMtukxKTF5L4pzZRrmma60bTTdMzMyCzcrNisyeyOOdWca55hvtm82/yNhaVFnMVKizaLx5balnzLBZZNlvesmFY+VnlW9VbXrEnWXOss623WV2xQG1ebDJs6m8u2qK2brcR2m23fFOIUjynSKfVTbtox7PzsCuya7AbtOfZh9iX2bfbPHcwcEh3WO3Q7fHJ0dcx2bHC866ThNMOpxKnD6VdnG2ehc53zNRemS5DLEpd2lxdTbaeKp26fesuV5RruutK10/Wjm7ub3K3ZbdTdzD3Ffav7TS6bG8ldwz3vQfTw91jicczjnaebp8LzkOcvXnZeWV77vR5Ps5wmntYwbcjbxFvgvct7YDo+PWX6zukDPsY+Ap96n4e+pr4i3z2+I37Wfpl+B/ye+zv6y/2P+L/hefIW8U4FYAHBAeUBvYEagbMDawMfBJkEpQc1BY0FuwYvDD4VQgwJDVkfcpNvwBfyG/ljM9xnLJrRFcoInRVaG/owzCZMHtYRjobPCN8Qfm+m+UzpzLYIiOBHbIi4H2kZmRf5fRQpKjKqLupRtFN0cXT3LNas5Fn7Z72O8Y+pjLk722q2cnZnrGpsUmxj7Ju4gLiquIF4h/hF8ZcSdBMkCe2J5MTYxD2J43MC52yaM5zkmlSWdGOu5dyiuRfm6c7Lnnc8WTVZkHw4hZgSl7I/5YMgQlAvGE/lp25NHRPyhJuFT0W+oo2iUbG3uEo8kuadVpX2ON07fUP6aIZPRnXGMwlPUit5kRmSuSPzTVZE1t6sz9lx2S05lJyUnKNSDWmWtCvXMLcot09mKyuTDeR55m3KG5OHyvfkI/lz89sVbIVM0aO0Uq5QDhZML6greFsYW3i4SL1IWtQz32b+6vkjC4IWfL2QsFC4sLPYuHhZ8eAiv0W7FiOLUxd3LjFdUrpkeGnw0n3LaMuylv1Q4lhSVfJqedzyjlKD0qWlQyuCVzSVqZTJy26u9Fq5YxVhlWRV72qX1VtWfyoXlV+scKyorviwRrjm4ldOX9V89Xlt2treSrfK7etI66Trbqz3Wb+vSr1qQdXQhvANrRvxjeUbX21K3nShemr1js20zcrNAzVhNe1bzLas2/KhNqP2ep1/XctW/a2rt77ZJtrWv913e/MOgx0VO97vlOy8tSt4V2u9RX31btLugt2PGmIbur/mft24R3dPxZ6Pe6V7B/ZF7+tqdG9s3K+/v7IJbVI2jR5IOnDlm4Bv2pvtmne1cFoqDsJB5cEn36Z8e+NQ6KHOw9zDzd+Zf7f1COtIeSvSOr91rC2jbaA9ob3v6IyjnR1eHUe+t/9+7zHjY3XHNY9XnqCdKD3x+eSCk+OnZKeenU4/PdSZ3Hn3TPyZa11RXb1nQ8+ePxd07ky3X/fJ897nj13wvHD0Ivdi2yW3S609rj1HfnD94UivW2/rZffL7Vc8rnT0Tes70e/Tf/pqwNVz1/jXLl2feb3vxuwbt24m3Ry4Jbr1+Hb27Rd3Cu5M3F16j3iv/L7a/eoH+g/qf7T+sWXAbeD4YMBgz8NZD+8OCYee/pT/04fh0kfMR9UjRiONj50fHxsNGr3yZM6T4aeypxPPyn5W/3nrc6vn3/3i+0vPWPzY8Av5i8+/rnmp83Lvq6mvOscjxx+8znk98ab8rc7bfe+477rfx70fmSj8QP5Q89H6Y8en0E/3Pud8/vwv94Tz+4A5JREAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAADcmlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMTEgNzkuMTU4MzI1LCAyMDE1LzA5LzEwLTAxOjEwOjIwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOmRmMjY2YWEwLTg1ZTUtZjY0OS1iMzQ4LWMwZDU3ZGFhNjhlOSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpGMkIzMzA3MDFFNTgxMUU2ODAzM0RFNTRGQTlGOTYwMCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpGMkIzMzA2RjFFNTgxMUU2ODAzM0RFNTRGQTlGOTYwMCIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNSAoV2luZG93cykiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDplOTlhMmE0MS0wODFjLTcyNGUtOTFkNC04MjI0M2NiMTEwOTgiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OTgwRjA2QkJFNzZEMTFFNTlCRERFRkU3OUQ0RUQ1QTMiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5ArF7dAAACLlBMVEUsLTAoKCsnJykoKCo8PEAuLzInKCk5Oj0xMjQ0NTgiIyUvMDI5OTw8PUEmJigyMjU3ODs6Oj0mJikyMzYuLjEoKSwmJygwMTMkJSczNDctLjEhIiQ3NzslJig2NzosLC41NjkyMjYpKSwrLC86Oz40NDg7PD81NTkzMzcmJyk4ODsxMTQpKi0jJCclJScqKi0oKSswMDM2NzswMDI2NjoiIyYxMTOPj5A1Njrn5+fm5ueOjo+dnZ/Z2tpQUVNlZWc7O0A8PUBNTU9KS01ra22SkpRHSEpRUlRaWlzy8vPi4uJPT1L8/Pzf3+DJyco3Nzqbm5y2trheXmDPz9CRkZJCQkVubnBFRUjOzs94eHltbW45Oj5paWt7e32np6j5+fmzs7SAgIK9vb6vr7Dp6uo/P0GEhIb29vahoqLGxsfw8PDU1NVTU1Xr6+tjY2VUVVe6uruCg4TX19dnaGl1dnfFxcZ9foDBwcLc3N3d3d6ysrPR0dKGhog5OT2IiYopKivb29uMjI1iYmTMzM64uLlycnTDw8S1tbbt7e2ZmZu+v78/P0KcnJ7ExMXj4+PT09PMzM1WV1nIyMmXl5g9PkCUlJawsLHs7Ow0NTaqqqysrK2lpac1NTc8PD+Wl5ijo6Tk5OXl5eXQ0NCpqao9PkIxMjOxsbI2NjmfoKGNjY6Kiow0NTkoKSonJypjZ2sqKy4iIiUjIyY6Oj4jJCYkJCc4OTw6Oz87Oz87PED///+bNcKvAAASrElEQVR42oTIsQrCMBAG4CMEN03o4CahtFPj7CSIuIlUFDcrLj6AL+KzhJqL13s70yJKl/rDf9/dQdJllvwTsGS+VRdEUz/mHhE3y62/loRYo2/v1QI98wkmQoyEmMYOC845MMbEZgO6DKxNU6VUHB+7xEX1/ha03utDOIYQitBP8VOzhueZ6L7LiV4UG+2S59+7lZlAUjNuGrmWcti3AGKQlYWEFiGaYUue7sYIgY2b3TbrAgNu4+Yt3ukhYBrK195su3Hnzp2bGWSBAaXJxsSmiZ8WY1BeDwwjeWVogOGigYGtzc8PDjR+KA0NRn5+ZHFvUDgGCNhttUqBBpgWWkBqQeid/gIM7NssXeKztm1X2QYE4EADB6MKjA+md+7cxAAMox28LDuAgYWX3gYQQAzSGzZIb+DasAGIuTaAOZTxGSS2hM1ZoBe/JbOVQSJ2mYukhIdEZa+ehM0WPT0JiS0gLGEnkSOxZYteXGXCTkcQXw8It8DltSXmSuiFT96yEwRcJRgYGUUZDUQZQRhIMhpQymcQERFhZeXmBmNuMANKkcVnZWWQVOWUDFBQd3WNCO3KzFRX51RXACJ1dQUFIMkJ5COAOghgyCP4O3dKqqoysLOzC1oKCrJXWwlaRfgBGUA+O4gCYggDA6DLw/g7dwIJhm3bdwDR9u1qO4DkNlB2Q+MjADhJEVLPsH27ww4g2L59B0gExKCMDxBADMDMKgsrAmUhNEV86ifsLVt2asb72fts3rnZIClyS0p45BbxHt3Gjemg4hhYlGzZsmzzRt0tXpu3eG52ywTxt4D4oJIGLG+1JS/ZzT1742ZwwnbfDMwp8XotYTOatzTodTg7u2RIRLp42OhJZCFyir2ehKuE1xbXOIngGD3MnMIj0ZQmP38LJKfoSTDwgYooUGGvycQmxsTGxkQZX4z6WW89sOxcL88ALiPBtQ2orCSPDzRIeT0oL3NTLS8DiwVg3acNK5oVwVUfoqhWhFeFiIIcUx7BTwRWkdqgwoFzJzBzJyxUz8ychK9wUCdQOOzcGQUqHAQEBIBVAbvb1pqtW92cUGsJjHp4K3Z5CL9qJ7D+FgCVNpbAQsKFfZUgu58TwdJGEHdp07OzG1TabGLfts1ym/OS9J3AGskZVEOBKycgBNVQ25EAqOpSwZSH8UHpOn3TJhKKr+3EFV8swOpvBwsvuB5k2eEIZFLCV9tG9fIQIAAxZvzSRBjG8decOnR7I5S7za0xZYnnqYOpy4kizNrUENJKKZQSXESCFFaaiiSBZRQEJVQ/9lO/6d2907v/rue5915vm5sTwvzAvc/3fb733F7esfceRuDgOQwBGBvhGAo1asDAgGFoWiOAMxF57mJ9vpJQyF4LQAwD5eEhmnjxscHQ6owM6pXvxg+RNbIjE880cSe/EO04A6ru+bahrWFudcMwLDggrwlfcyu0cvVAwMB++ADU4k3BAmwZgTMSTsaJp5aFYccOywG2PbmWqU9n2Sj4r3vHR9iLYTipP438siBgTU9PIIANNmo2eoflGJv7ytgkzNjP+RzbWN+a7xB+CcX16hhj6TTbn/68+CDDnHPa5j58GLSwvcB1iVJJUhTJjpQqfyj9LU0t05m3U/QhfbS5OTG7h/6O4ysYhaKrWWmdwhMVaZLSKxalj5Unue1bOeFTqfT5BfVXrywtSe8/UumDsvsFMrdPdjAFayO1QD1Q6yBUTY2bv0yfdAPt7d0OQh3YxOPFsVBdhO9+fjwuVkMEra0tLfxyR5Hl/G+f4MuUEFluAlQ1mVRVr1dVZRkvrxfnySQqWcZcZb8Mskv1+sp+X19TE2kG2to6O4N72BkHg6DsyDXO3FjJP4Nz1Z/yv8EP7kawGbsA0g9Eo9G7VjiRCIcblqdhjESGYJYYi0TCNpEIqoTt8BFniYTwq1Gt/pSPZ8zC4GA02t9PfD5846dS+bytZjdnXu76fEP5bH4q3dXlZG1Klc/H/TIU9BbV68v5lrXv+NB/6DaplK7HYnM7c+/0lRl9aBR4hflYTD/B1UdHbq4MermaSvWn/HF+TN+zJwQbC16yZYq3tGl2dMCr38R2g+d4rOSfwbnqS/xhhzf2AvntxeUmdiYFs2p+Nf7l+cTvtzubYz5y5Qc8Hj/+nePhyuMpVhflF+6qaWLTCDuoF31RxbviLv6y/L8CMGv1T00cYfiwA046bUxDe13tdIhmIIJN1OJMbSBBW9BQCFBC06AYGilGqtQBS4v6i1NK7bTWET87OuPnOE5n+sFl90L2v+v77t5xF/IBhdJjZ2739n12ufcuYfI8z3uKaWmZDqHXPLcijuKCsBYx1ledZayLKxir8o4ZkOlZaS4uWoiDuILJI1BMecdpFCg1zHxJOm4R4bPZSLQcJY4gPnZDo8NiJde0xJD2GS+izJUo9QtKd2nafo0e0LSPIJJapoMfzGOCmsb+5KOsj3/thSHFR2jvl4yO0j72qbaf9dyho2kv0Nx3aUYLZvcw7fdfgQbjRRmDrdK1BuZL27VTwbvJabxkfccwTXB2hZs4uiZw6WAQ99Di/UDRI2x2iH6o1dxz9UOsy8aoYSNQfmLQfTmcQ9ZPHoe8C/FZcikFnDxdE2HHkiyDbPxB5DQrw/mBmgPlj3vZGKIpxkliKpjiliaowvknySV2dZZ1sWSmfRgwW4JdZyjFBNmTH0hy9DcCw/zVBjZ3KxTa2UZujjzt7HxIyHdp9sWuoZHQFAmFyFfXGZo9aPcQw/YRCSKWhUMk2J2OhJ6RB3f4Mk4QFwcr2T9Juln3zdBzQq58TzqLE4SFoEmEKFkpGuLNY+7Ys4t1N6YX0u5rDdOPBn9CvK2cqHC7uVuNvOR8oPkeRBYuqrWPE83czS3RUkWU3G+OnRusj992d6p/nP1bVdvNb2Bb2zgkp7hx8Taj1WFxYxvO6+pUFXuMOIirqvLKFldNSg22t9CVO4C9OcpznDmL1yjvlZN1myXbquP2TExZtwcLaX6/WOVHEeUXfYNofr88k73//8SNG/DjElN1bjXdiVlh9m+KZhivwoU1Rnuk1gm8FotDtaCLQRivV7hWEsZv/yfC+ODB1tZW9Kn37TMdaFtVUTrRtkpjZby07dhhrVt9fxk807MbTW9oQrjXg3DfyzM7N0G5712XcoefuUeNjego7FZE2OVy8YEAyPdA4PLP9/t8gVsTExMzp4UXj468zyd7nIPKl758wGXgpS1ga6vvL8GT+EMcEDfRKJyFQz4fHxDS/prnGyHte3AWft8ha+EUJnj4MFoLPqxEYDFiwNPf7/HEFlrmdX1M13vix2J6uLiI3WL19sha22r7LRzS4fyyR2TkUYRRcZwfl97DjD4YnoKzaET/WA+/tl7vQ9+g93GXcwNvUWRF5Tw/j8WUN2ZObB+chDE605fKhTFi1F5ksUXO5GiPVG5r3V+E/wJP8LoRUQwnBZ4hmiPTcz9eyGVzueG/Ojo6wrn1mjO5DZkzCUlXY9KbgWM7vvUAzzCf/2QpE+/t5Z/no1hDmlt+P0JWhqwDe4wuVWhWqmvZvwLPmoQ6f9I0j8TdXMgXNsE9Wvr37tG3pnkk8lJE7tIGkQvRyZHn8g5Xx0ub/Wlu8O8rha1tb+HLEEuF1+VUGk6FgrSdMHb0qGlAOYLnm5qalCKLSR6b6a9Vx+1ml/zgsXwK7cgR6xFbsPUFdhCHfxKHDcCqeD7/jwDtXPtTE1cU3kYEQ9I1DEoYddNIJQqyRCrOkNCEaXiHhwhGBIEiIKUo8hBFrYql1mcrrfbl9DHTaTt9zthllyT73/Wcu3uzDxaMkP5Q0487Ofeec757NiebO5N77sKI+WK+gDsUuB8BP/ZFSdnvwXMo2OdFnpd4dYNFUvT6PpVZyc+X8sn+ZT7uxql7c2SvDnfm9hol2eLU6fScLObnkztwb76mxD68pCROvBfPMZAdWgFEPjBEURCVMXTEY+KxY8IxrQ8vOG3KDzn/QT59/4lbtWvRoCacEf4WSOKkgSsxmIADIQlS5SUYwXBg3CfwvNAwnsDJT3UKwjl5VpDODpNbWBAHA6PX7/8hfjtPLgh9JHHwkiAJgmtGbp2ZmBhplWdcAq/Y6EVLgqTytTcRefa13CYoX5Hh5Uh/+yVx/k57FKgQH/h3Ot51gGOPHAL+LVk+YOJr8fGssqaj/PXjbw+4BXG6Y65jWty1cC3woST1jXROi0L3iMo/KVvg5En1DlS/z/2oDBnEbamhHet5qsB14fa0dKJlrIyf+iKyHJqLiM9q8YLbnEPDobG7nPhxYG6srrb1/lO4OOc7Ut/DscDIvHiuYL11Rb8OiWKd3Ab92yFJaqoSm+R+0I9Gqf3KZNlXndDpuf5Zo3hOPit/v4a//vq2Yfy28KRb8rSCedLZ2S1JQ7PSNalpRhpZovxG6wTK3WgkCYTVsx6TNMwrQqIiAGJGVAT48Q0j4Tv8+MnBb5smu7q6Wps6T+HCW7Vn6EoxP9zAP6/7/YNPi98+qyy60/24MPdf0N4YXHVqQVbjkoUbJV8MCeRRgs9S68JhtI9Gi0XcZBdj8vk7C3KtxPdc98n1p8cH5O/X8HloKp/X5lf4G8af2iHVdwDvauRqpJj/8gd+12BD5PSv57uXCwjfMoGNjQsHkcxU6lBMtt2LQbAsx3LQWLYId7uL6Hgu8IjlfgwU+qP17DtPjvS2drPc0jI71Mey9/rDHSzXeJn7ZBx56N8ny/NGvlEisK/gkhwG3cRvHLf8fktLyyOwfRVV40dHwfGUPM32DLM35B5uQP5iDd84p/X1W8af2smyHXXsxSj3dJRzj7WBbqiPa3nGTSxxyH+71SKBNz5UcsXQgJU2lrWxNluRrYgAg2JwUICaZcvYsrKiMmWMPuw3iq7Ap/nYnH/ZfkmXX2TUsS8bP9N8J+F/9wbyI7+g/TvKt/lLSipKKioWKxYX/Yt+aIuLLFdZycEfg6xcW27uttxt0HJzbblqqcKm9M22XFLU0PpWPlnEtzGvmbDtNbV8sk3pU2nWrYds45Pyze6K3btLdpcQQIf0j5QcgaaMKVBP7dQXyNnML2H8Kir8FdD8/uf+59CISqnwYPXpTU3qdVYw214RPslLxXNjjnCglMbeeJMAOvjEwP/YAMZcqdnaw+yBhnL79l3b1YLdLqVuhmOrPgXV6eWrzt+jA0OKiQ7l2RIHOWLrcBx1HIXmcFQ5qqrcVW73Ubc2hhdw03TYByfit1l+eqiyQGbivzxffZ5Orb+6D2PJ87B7x84dO6EZS6lm3UY+m+Wnh50WyEz8TfBTHytDDft3YA320KHCQ4UPgpH9+wv3F0JTJChRvyHQR+WneC/D3yq2Gv/FfPsE/gKZsBP3VEIZQ7XZbreXPpDlB6WlpfZS6Nup7G4pNenWA9pL1/DX6v4tbDX+uvyYWvB6L1Zq1xXtGSx327G8jQXug94uWe7yerweaN7603djnocPLrbUv+UlCNSFCZrDFwPVnurqmuqaGk8N8fVWe6tBpfRVPpHgUOOtUfjoAy9Er+enB68FMhM/Lf4t+iv4FqSLPPZ38E/4Y+jl4YQeTJ/n+HFPuVJ0d61edN0LhkKhq4/ncBhs2/fpR086PzvvigRd4LPPtQ+a4kr75a7ychflu4xjs4+evzlkLv4L+RGawPq3jmOOjpOceZjy8hRhVpbvkeq7axWJjz66+/UV10jDyMeu8vMDmM5gW16oOW+1ProaCZIqv3MVmiIReatKqRw6Kb3ZTm16fnqwPvaQifgW/FTitIT2TmH6pnoVnZq3ckY/8YWAHGjWBci73HBgMrYajk425znznM5gePXaUlNTy2NnJAiK1MVSvvkC0Yfqka9PmJ6fHqzPP2Qifpr8nzCBP5n4jP6kQ8FKM6TwQgHFyuX+07UrN4L90/dv4DgYRh/QF7QFURKfAj2/wABq0/sqfKNu88hs/I34g0H6FQ4O6vnMTcCZm/H4SnwFWjyOKWxWePNTM49PzNf1gjpW93ksfiC4cELFwwA5LoIHRg4oPMpfiRvfItWZffX89GB1CiIz8V/In2037qa2zxJb3s28m8wZwMoZxTEeTybjSfgij5Pnq38mD1zHE4ne3t7Yo2Qi8TOMfXGfL+FLJKiNyqRab44n1QMeJhs+Xh1fh58erI/iZCL+C/nt5v3odkgZydsZcjQBZoR5jW9IP4GVTs/ZKj89+CyQmfhb4JPDJ+TToZ8A7eMnAS9JX1KbnH6SZt+t8tODdVozEX8L/CSTJG6aIQePHuVol60fr+eTzXwmJ5GTukUxlXgyifwbKdXp9aQyJgenkprt9RyjH7W/+nztbsSEMTRx9JZFSdcl/a1MF2Ha1y+62cxnzLexfuFMxnUHuZJGsn7CLOYnGPMaoJfmRdrKluX8xD8d3Ao3/P5pKQAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    >.title {
      position: absolute;
      left: 64px;
      right: 64px;
      margin-top: -34px;
      font-size: 15px;
      font-weight: 400;
      color: #eee;
      text-align: center;
    }
  }
  .footer {
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    height: 40px;
    background: #f0f0f0;
    line-height: 40px;
    text-align: center;
    &.menu {
      >div {
        border: 1px solid $color-border;
      }
      .add-menu1{
        border-left: 0;
      }
      .ico.keyboard {
        display: inline-block;
        width: 30px;
        height: 40px;
        margin: 0 10px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAiCAYAAABBY8kOAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAdpJREFUeNrslbtLXFEQh901IoIB0fwFgqAgCEFsoiBY2QiirFgoFkIaE8EIiSA+MdgIVoKlhc1a+0AbQV2NkociCkkhChrRBWF9beOu3wm/wC3uPu5eVi32wMfMZe+Z35nZOXM90Wg06ymWN+uJVkbo3/L5fB3gSasQAm8wU9CQ7oy6IQ+GnWTldZhNPqZLjxXQlK6M3kMB3MIVfEx2oydzYV+80CubzvqEadMhIinENC1v/vglv9//xbYZEDF3ZNLcEbjXJqfLBMyBURhHrM8uow6Y5scht6Xi0GFMK9gKXVpefI2pgWM4glo40P15B991+krY1P0qg20OGsTmWuN5bdLOll8O8yZDKJHfA1XymzXv5iX8WX699mfHbQbL+q3Ae8rKNMkqnMpfhgf5P+Bce9aS6jrLuoOAAoTln8GNShVUBYwfUocGVFpH9+gtbMEclCrgIFQrYDu0yK+DMb3T6DSjPzACO3Cidl20+CsqnfF/KkNT1nVHQnTOhTL4vwYS+OYAG0lPBkt7F2NmUrhCvRzyWyIhj2XsmMnwK4XxE5IfiSdUBIcq3V/MBxfD4RoKYwktQD9l23U560zcrzAb8wuLyIRGj9tP7z50Uplo5lOeEXoeoUcBBgDTXpMIyqg+4QAAAABJRU5ErkJggg==);
        background-repeat: no-repeat;
        background-position: 50%;
      }
      a {
        display: block;
        padding: 0 4px;
        text-decoration: none;
        color: $color;
      }
      >.item {
        position: relative;
        // border-left: 1px solid darken($color-border, 4%);
        background: inherit;
        >.title {
          position: relative;
          padding: 0 5px;
          margin: -1px;
          line-height: 38px;
          border: 1px solid $color-border;
          border-left-color: transparent;
          background: inherit;
          cursor: pointer;
          z-index: 2;
          &.wealthy {
            &:after {
              content: '';
              position: absolute;
              right: 6px;
              bottom: 6px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 8px 8px 0 0;
              border-color: transparent #ccc;
            }
          }
          >.inner {
            max-width: 10em;
            margin: 0 auto;
            padding: 0 5px;
            @extend .text-ellipsis;
          }
        }
        >.content {
          position: absolute;
          bottom: 100%;
          left: -1px;
          right: -1px;
          margin-bottom: 16px;
          line-height: 38px;
          opacity: 0;
          background: #f0f0f0;
          z-index: -1;
          @include trf-origin(bottom);
          @include trf-scale(.8);
          will-change: transform;
          &:after {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 50%;
            width: 12px;
            height: 12px;
            border: 1px solid $color-border;
            border-width: 0 1px 1px 0;
            background: inherit;
            @include trf(translate(-50%, 0) rotate(45deg));
          }
        }
        .add {
          font-weight: 700;
          color: $color-anchor;
          &:hover {
            color: $color-anchor-hover;
          }
        }
        &.on {
          >.content {
            opacity: 1;
            z-index: 1;
            @include trf-scale(1);
          }
          .on {
            position: relative;
            background:#fff;
            border-color: $color-primary;
            z-index: 2;
            a {
              color: inherit;
            }
          }
        }
        ul {
          border-bottom: 1px solid $color-border;
          -webkit-transition: .1s;
          transition: .1s;
        }
        li {
          border: 1px solid $color-border;
          border-bottom-color: rgba(0, 0, 0, 0);
          cursor: pointer;
          @extend .text-ellipsis;
        }
        .menu-l2 {
          .js-toggle {
            cursor: move;
            .inner {
              padding: 0 5px;
            }
          }
          [data-placeholder] {
            margin-top: 0;
            border: 2px dashed #dcc;
          }
        }
      }
    }
  }
}

.own.list {
  margin-top: 30px;
  margin-right: -3px;
  counter-reset: list;
  >li {
    position: relative;
    float: left;
    width: 33.33%;
    padding: 0 20px;
    padding-right: 80px;
    border: 1px solid $color-border;
    margin: -1px 0 0 -1px;
    line-height: 40px;
    @extend .text-ellipsis;
  }
  >.item {
    &:before {
      counter-increment: list;
      content: counter(list)'ã€';
    }
    a.fr {
      position: absolute;
      right: 20px;
    }
  }
}
