<div class="main">
  <h1 class="content-title">
        添加采购单
        </h1>
  <div class="content">
  </div>
  <div class="content-field">
    <div class="tab-switcher">
      <div class="title">
        <span class="item on">添加采购单</span><span class="item">采购单列表</span>
      </div>
      <div class="content">
        <div class="item on">
          <div class="filter">
            <table>
              <tbody>
                <tr>
                  <td><span class="mr5">单据类型</span>
                    <select name="" id="">
                      <option value="">请选择</option>
                    </select>
                  </td>
                  <td>
                    <span class="ml20 mr5">供应商家 </span>
                    <select name="" id="" class="select-long">
                      <option value="">请选择</option>
                    </select>
                  </td>
                  <td>
                    <span class="ml20 mr5">收款账号 </span>
                    <select name="" id="" class="select-long">
                      <option value="">请选择</option>
                    </select>
                  </td>
                  <td>
                    <span class="ml20 mr5">往来余额：</span>
                    <span class="currency-box">
                    <span class="icon">￥</span>
                    <input type="text" placeholder="" class="ipt-currency disabled" readonly>
                    <span class="line"></span>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>本次应付：
                    <span class="currency-box">
                    <span class="icon">￥</span>
                    <input type="text" placeholder="" class="ipt-currency disabled" readonly>
                    <span class="line"></span>
                    </span>
                  </td>
                  <td>
                    <span class="ml20 mr5">付款账号</span>
                    <select name="" id="">
                      <option value="">请选择</option>
                    </select>
                  </td>
                  <td>
                    <span class="ml20 mr5">付款方式</span>
                    <select name="" id="">
                      <option value="">请选择</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="mt5">
              <button class="btn  btn-highlight">
                选择商品
              </button>
            </p>
            <table class="table table-bordered table-hover mt10 text-center">
              <thead>
                <tr>
                  <th></th>
                  <th>商品编号</th>
                  <th>商品名称</th>
                  <th>数量</th>
                  <th>单价</th>
                  <th>折让比例</th>
                  <th>总金额</th>
                  <th>备注</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="item">
        </div>
      </div>
    </div>
  </div>
</div>
