@import '_variables.scss';
@import '_mixin.scss';
.btn {
  position: relative;
  display: inline-block; // padding: 4px 12px;
  padding: 0 14px;
  margin-bottom: 0;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  background: $color-btn-default;
  color: $color;
  text-align: center;
  white-space: nowrap;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none!important;
  &:hover {
    background: $color-btn-hover;
    color: $color;
  }
  &:visited {
    color: $color;
  }
  +.btn {
    margin-left: 6px;
  }
  +.btn.block {
    margin-left: 0;
  }
  .disabled {
    cursor: not-allowed;
  }
  &.thin {
    padding: 0 10px;
  }
  &.fat {
    padding: 0 70px;
  }
}

.btn-radial {
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
}

.btn-align-ipt {
  margin-top: 2px;
}

.btn.block {
  display: block;
  margin: 10px auto;
  font-size: 16px;
  +.btn {
    margin-left: 0;
  }
}

button {
  cursor: pointer;
}

@each $btn-each,
$btn-color in (btn-info:$color-info, btn-primary:$color-primary, btn-ok:$color-ok, btn-warning:$color-btn-warning, btn-danger:$color-danger) {
  .#{$btn-each} {
    color: #fff;
    background: $btn-color;
    &:visited {
      color: #fff;
    }
    &:hover,
    &:active,
    &:focus,
    &:active:focus {
      color: #fff;
      background: darken($btn-color, 12%);
      outline: 0;
    }
  }
}

.btn-default {
  color: $color;
  background: #fff;
  &:hover {
    background: #fff;
    border-color: $color-primary;
  }
  &:focus {
    border-color: $color-primary;
  }
}

.btn.btn-highlight {
  background: #FCFCFC;
  color: $color-anchor-highlight;
  &:focus,
  &:active {}
}

$color-btn-cancel:#f8f8f8;
.btn-del,
.btn-cancel {
  color: #fff;
  background: #b0b0b0;
  &:hover,
  &:active,
  &:focus {
    color: #fff;
    background: darken(#b0b0b0, 12%);
  }
  &:visited {
    color: #fff;
  }
}

@each $btn,
$btn-color in (btn-primary-o:$color-primary, btn-info-o:$color-info, btn-ok-o:$color-ok, btn-warning-o:$color-warning, btn-danger-o:$color-danger) {
  .#{$btn} {
    color: $btn-color;
    background: #fff;
    &:visited {
      color: $btn-color;
    }
    &:hover {
      background: $btn-color;
      color: #fff;
    }
    &:focus {}
  }
}

.btn.btn-disabled {
  pointer-events: none;
  color: #999;
  background: #eaeaea;
}

.btn-o,
input.ipt-o {
  background: transparent;
  color: #fff;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: transparent;
    box-shadow: 0 0 3px;
  }
}