@import '_variables.scss';
@import '_mixin.scss';

.btn {
  $border: 1px;
  position: relative;
  display: inline-block; // padding: 4px 12px;
  padding: 0 12px;
  margin-bottom: 0;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 400;
  border: $border solid $color-border;
  line-height: $height-btn - ($border * 2);
  background: $color-btn-default;
  color: $color;
  text-align: center;
  white-space: nowrap;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none !important; // transition: .25s;

  &:hover {
    background: $color-btn-hover;
    color: $color;
  }

  &:visited {
    color: $color;
  }

  +.btn {
    margin-left: 10px;
  }

  +.btn.block {
    margin-left: 0;
  }

  .disabled {
    cursor: not-allowed;
  }

  &.thin {
    padding: 0 10px;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
  }

  &.large {
    line-height: 40px;
    font-size: 16px;

    &+.large {
      margin-left: 20px;
    }
  }

  &.small {
    line-height: 20px;
  }

  &.x-large {}

  &.xx-large {}
}

.btn-radial {
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
}

.btn-align-ipt {
  margin-top: 2px;
}

.btn.block {
  display: block;
  margin: 10px auto;
  font-size: 16px;

  +.btn {
    margin-left: 0;
  }
}

.btn-default {
  $color: #464c5b;
  color: $color;
  background: $color-btn-default;
  border: 1px solid $color-border;

  &:hover {
    background: #fff;
    color: $color-primary;
    border-color: $color-primary;
  }

  &:focus {
    border-color: $color-primary;
  }
}


@each $color,
$value in $theme-colors {
  .btn-#{$color} {
    color: #fff;
    background: $value;
    border-color: $value;

    &:visited {
      color: #fff;
    }

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
      color: #fff;
      background: darken($value, 6%);
      border-color: darken($value, 6%);
      outline: 0;
    }
  }
}


$color-btn-cancel:#f8f8f8;

.btn-del,
.btn-cancel {
  color: #fff;
  background: #b0b0b0;
  border-color: #b0b0b0;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
    background: darken(#b0b0b0, 12%);
    border-color: darken(#b0b0b0, 12%);
  }

  &:visited {
    color: #fff;
  }
}

@each $btn,
$btn-color in (btn-primary-o:$color-primary, btn-info-o:$color-info, btn-ok-o:$color-ok, btn-warning-o:$color-warning, btn-danger-o:$color-danger) {
  .#{$btn} {
    color: $btn-color;
    background: #fff;
    border-color: darken($btn-color, 12%);

    // &:visited {
    //   color: $btn-color;
    // }
    &:hover {
      // background: $btn-color;
      color: $btn-color;
    }

    // &:focus {
    //   border-color: $btn-color;
    // }
  }
}

.btn.btn-disabled {
  pointer-events: none;
  color: #999;
  background: #eaeaea;
  border-color: $color-border;
}

.btn-o,
input.ipt-o {
  background: transparent;
  border-color: #fff;
  color: #fff;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: transparent;
    box-shadow: 0 0 3px;
    border-color: #fff;
  }
}