.info-list {
  >.item {
    margin-top: 10px;
    overflow: hidden;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    &.info-warning {
      border-color: darken($color-bg-danger, 5%);
      >.title {
        border-bottom-color: darken($color-bg-danger, 5%);
        background: $color-bg-danger;
      }
    }
    >.title {
      padding: 10px 16px;
      background: $color-table-thead;
      line-height: 30px;
      font-size: 14px;
      .tag {
        margin-left: 3em;
      }
    }
    &.singleline {
      >.title {
        line-height: 48px;
      }
    }
    >.content {
      padding: 16px;
      border: 1px solid #F3F4F8;
      border-top: 0;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      >.item {
        line-height: 2;
        overflow: hidden;
        padding: 0;
        >.title {
          float: left;
          min-width: 5em;
          margin-right: 4px;
          font-weight: 400;
          line-height: inherit;
          text-align: right;
          white-space: nowrap;
        }
        >.content {
          overflow: hidden;
        }
      }
      &.col2 {
        >.item {
          display: inline-block;
          width: 30%;
          vertical-align: middle;
          &:nth-child(even) {
            width: 60%;
          }
        }
      }
      &.w6em {
        >.item {
          >.title {
            min-width: 6em;
          }
        }
      }
    }
  }
  &.thin {
    >.item {
      >.title {
        line-height: $height-table-thead;
      }
    }
  }
}