@import '_variables.scss';
.tab-switcher {
  >.title {
    line-height: 30px;
    border-bottom: 1px solid $color-border;

    >.item {
      display: inline-block;
      margin-right: 8px;
      padding: 0 14px;
      color: #666;
      background: #F3F4F6;
      text-decoration: none;
      cursor: pointer;
      font-size: 12px;
      white-space: nowrap;
      -webkit-border-radius: $border-radius $border-radius 0 0;
      -moz-border-radius: $border-radius $border-radius 0 0;
      border-radius: $border-radius $border-radius 0 0;
      &:hover {
        color: $color-primary; // font-weight: 700;
      }
      &.on {
        color: #fff;
        font-weight: 700;
        background: $color-primary;
        box-shadow: 0 1px $color-primary;
      }
    }
    a {
      text-decoration: none;
    }
  }
  >.content {
    overflow: hidden;
    >.item {
      display: none; // &:first-child {
      //   display: block;
      // }
      >.cell {
        display: inline-block;
        min-width: 5em;
        padding: 2px;
        text-align: center;
        &:hover {
          color: $color-primary;
          cursor: pointer;
          text-decoration: none;
        }
      }
      &.on {
        display: block;
      }
    }
  }
}