@import '_variables.scss';
.table {
  border: 1px solid $color-table-border;
  border-collapse: separate;
  border-spacing: 0;
  thead {
    tr {
      td,
      th {
        padding: 0 5px;
        border: 0;
        line-height: 35px;
        white-space: nowrap;
        vertical-align: middle;
        color: #333;
        text-align: inherit;
      }
      th {
        border-bottom: 1px solid $color-table-border;
        font-weight: 400;
        background: $color-table-thead;
        color: $color-table-thead-th;
        .com-ipt {
          background: #fff;
        }
      }
    }
    &:only-child {
      tr {
        &:last-child {
          th,
          td {
            border-bottom: 0;
          }
        }
      }
    }
  }
  tbody {
    tr {
      th,
      td {
        color: #666;
        padding: 4px 6px;
        line-height: 27px;
        border-style: solid;
        border-color: $color-table-border;
        border-width: 1px 0 0;
        &:first-child {
          border-left: 0;
        }
        p {
          line-height: 26px;
        }
      }
    }
  }
  tr {
    &:first-child {
      td,
      th {
        border-top: 0;
      }
    }
  }
  .com-ipt {
    margin: 2px 0;
  }
  .action,
  .action-field {
    white-space: nowrap;
    .item {
      margin: 2px;
      padding: 2px;
      color: #3879d9;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.table-v-top {
    td,
    th {
      vertical-align: top;
    }
  }
}

.table-fixed {
  table-layout: fixed;
}

.table-radian {
  border-collapse: separate;
  border-spacing: 0;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}

.table.table-bordered {
  // border: 1px solid $color-table-border;
  // border-collapse: collapse;
  >thead,
  >tbody {
    >tr {
      td,
      th {
        border-style: solid;
        border-width: 1px 0 0 1px;
        // border: 1px solid $color-table-border;
        border-color: $color-table-border;
        &:first-child {
          border-left: 0;
        }
      }
      th {
        border-bottom-width: 1px;
      }
      &:first-child {
        td,
        th {
          border-top-width: 0;
        }
      }
    }
  }
}

.table-bordered-divide {
  tbody {
    tr {
      th,
      td {
        border-left: 1px solid $color-table-border;
        &:first-child {
          border-left: 0;
        }
      }
    }
  }
}

.table-hover {
  tr {
    &:hover {
      background: $color-table-tr-hover;
    }
  }
}

.table-list {
  >.table {
    margin-bottom: 16px;
  }
}
