.table-wrapper {
  $table-outer-border: 1px solid #d5dce4; //5px solid red;
  position: relative; // display: flex;
  // border: $table-outer-border;
  @extend %scrollbar-white;
  border-radius: $border-radius;
}

.table {
  /* ---- 表格基础样式变量 ---- */
  $transition: .25s;
  $font-size: 12px; //字体大小
  $font-color: #666; //字体颜色
  //表格内th/td边框
  $height-thead: 32px;
  $height-tbody: 35px;
  $line-height: 20px; //单行高
  $padding-base: 14px;
  /* ---- thead表头样式变量 ---- */
  $thead-font-size: $font-size;
  $thead-font-weight: bold;
  $thead-bg-color: #E7EBF4;
  $thead-th-font-color: #333;
  $thead-th-padding: $padding-base;
  /* ---- tbody样式变量 ---- */
  /*变量定义结束*/
  /*mixins定义*/
  //
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  line-height: $line-height;

  >thead {
    >tr {

      >th,
      >td {
        height: $height-thead;
        background-color: $thead-bg-color;
        font-size: $thead-font-size;
        font-weight: $thead-font-weight;
        padding: 1px $thead-th-padding;
        color: $thead-th-font-color;
        white-space: nowrap;
        text-align: left;
      }
    }
  }

  &.table-sticky {
    >thead {

      th,
      td {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 5;
      }
    }
  }

  >tbody,
  >tfoot {
    >tr {
      transition: $transition;

      >td {
        height: $height-tbody;
        position: relative;
        padding: 1px $padding-base;
        font-size: $font-size;
        color: $font-color;
      }
    }
  }

  >tfoot {
    >tr {

      >th,
      >td {
        background-color: $thead-bg-color;
      }
    }
  }

  &.table-bordered,
  &.table-bordered-all {
    >thead {
      tr {

        >th,
        >td {
          border-style: solid;
          border-color: #DEE1E6;
          border-width: 0 0 1px 0;

          &:first-child {
            border-top-left-radius: $border-radius;
          }

          &:last-child {
            border-top-right-radius: $border-radius;
          }
        }
      }
    }

    >tbody,
    >tfoot {
      >tr {
        >td {
          border-style: solid;
          border-color: #EFF1F7;
          border-width: 0 0 1px 0;
        }
      }
    }
  }

  &.table-bordered-all {
    >thead {
      tr {

        >th,
        >td {
          padding: 1px 10px;
          border-width: 0 1px 1px 1px;

          &:first-child {
            border-left-color: $thead-bg-color;
          }

          &:last-child {
            border-right-color: $thead-bg-color;
          }
        }
      }
    }

    >tbody,
    >tfoot {
      >tr {
        >td {
          padding: 1px 10px;
          border-width: 1px;
        }
      }
    }
  }

  &.table-odd {
    >tbody {
      >tr {
        &:nth-child(2n) {
          background-color: #f9fbfc;
        }
      }
    }
  }

  &.table-hover {
    >tbody {
      >tr {
        &:hover {
          background-color: #c4e2fc;
        }
      }
    }
  }

}

.table-bordered-bottom {

  >thead,
  >tbody {
    >tr {

      >th,
      >td {
        border-bottom: 1px solid #F6F6F6;
      }
    }
  }
}

.table-data-empty {
  position: relative;
  padding: 8px 0;
  text-align: center;
  color: #999;
  background: #fff;

  img {
    margin: 20px;
  }
}

.table-layout-fixed {
  table-layout: fixed;
  width: fit-content;
}