@import '_variables.scss';
@import '_mixin.scss';
$color-tag-border:$color-input-focus-border!default;
.tag {
  display: inline-block;
  padding: 0 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid $color-tag-border;
  color: #666;
  line-height: 28px;
  font-size: 12px;
  white-space: nowrap;
  vertical-align: baseline;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  text-decoration: none;
  cursor: pointer;
  .tag-del {
    display: inline-block;
    visibility: hidden;
    cursor: pointer;
    font-size: 14px;
    color: #999;
    margin: 0 5px;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  &:hover {
    .tag-del {
      visibility: visible;
    }
  }
  &.large {
    padding: 0 12px;
  }
  &.tag-primary-o {
    color: $color;
    background: #E4F5FD;
  }
  &.tag-pure {
    cursor: pointer;
    border-color: transparent;
    &:hover {
      border-color: $color-tag-border;
    }
  }
  &.on {
    color: #fff;
    background: $color-tag-border;
    .tag-del {
      color: #fff;
    }
  }
}

.tags {
  display: inline-block;
  font-size: 0;
  .tag {
    font-size: 12px;
  }
}

.tag-mini {
  border: 1px solid $color-danger;
  padding: 0 2px;
  color: $color-danger;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}