@import '_variables.scss';
@import '_mixin.scss';

//align
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center;
}

//color
.text-default {
  color: $color;
}

.text-light {
  color: #666;
}

.text-muted {
  color: $color-muted;
}

.text-primary {
  color: $color-primary;
}

.text-info {
  color: $color-info;
}

.text-ok {
  color: $color-ok;
}

.text-warning {
  color: $color-warning;
}

.text-danger {
  color: $color-danger !important;
}

//
.text-nowrap {
  white-space: nowrap;
}

.text-wrap {
  white-space: normal;
}

.text-ellipsis {
  @extend .text-nowrap;
  max-width: 100%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

//size
.font-small,
.text-small {
  font-size: $size-font-small;
  // line-height: 1;
}

.text-middle {
  font-size: 14px;
}

$sizeInitial:14px;
$size-font: ("large": 16px,
  "x-large": 18px,
  "xx-large": 20px,
  "xxx-large": 24px,
  "xxxx-large": 28px, );

@each $key,
$value in $size-font {
  .text-#{$key} {
    font-size: $value;
  }
}

//weight
.text-bold {
  font-weight: 700;
}

.text-del {
  padding: 0 10px;
  margin-top: -1px;
  font-size: 20px;
  color: #999;
  text-decoration: none;
  vertical-align: -2px;

  &:hover {
    color: $color-warning;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}