$color-tooltips:#333;
$color-tooltips-bg:#fff;
$color-tooltips-border:$color-border;
.tooltips {
  position: relative;
} //箭头提示框
.tooltips-i {
  position: relative;
  display: inline-block;
  z-index: 8;
  .icon-tips {
    text-align: center;
    line-height: 1;
    width: 12px;
    height: 12px;
    font-size: 12px;
    color: #fff;
    background: #236EC1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-decoration: none;
    ~.txt {
      display: none;
    }
    &:focus {
      ~.txt {
        display: initial;
      }
    }
  }
  >.target {
    ~.txt {
      display: none;
    }
    &:focus {
      ~.txt {
        display: initial;
      }
    }
  }
  &.tooltips-hover {
    >.target {
      &:hover {
        ~.txt {
          display: block;
        }
      }
    }
  }
  .txt {
    position: absolute;
    display: inline-block;
    min-width: 200px;
    padding: 8px 10px;
    border: 1px solid $color-tooltips-border;
    color: $color-tooltips;
    background: $color-tooltips-bg;
    font-size: 12px;
    line-height: 20px;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    box-shadow: 0 0 3px #eee;
    font-weight: 400;
    white-space: initial;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: -7px;
      border-style: solid;
      border-width: 5px 7px 5px 0;
      border-color: transparent $color-tooltips-border;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
    &:after {
      border-color: transparent $color-tooltips-bg;
      left: -5px;
    }
  }
  &.tooltips-l {}
  &.tooltips-r {
    .txt {
      &:before,
      &:after {
        left: auto;
        right: -7px;
        border-width: 5px 0 5px 7px;
      }
      &:after {
        right: -6px;
      }
    }
  }
  &.tooltips-t,
  &.tooltips-tl {
    .txt {
      right: -10px;
      margin-top: 5px;
      &:before,
      &:after {
        left: auto;
        right: 5px;
        top: -7px;
        border-width: 0 5px 7px 5px;
        border-color: $color-tooltips-border transparent;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
      }
      &:after {
        top: -6px;
        border-color: $color-tooltips-bg transparent;
      }
    }
  }
  &.tooltips-tl {
    .txt {
      right: auto;
      left: -10px;
      &:before,
      &:after {
        right: auto;
        left: 15px;
      }
    }
  }
  &.tooltips-b {
    .txt {
      bottom: 34px;
      margin-left: -5px;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      &:before,
      &:after {
        left: 50%;
        top: auto;
        bottom: -7px;
        border-width: 7px 5px 0 5px;
        border-color: $color-tooltips-border transparent;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
      }
      &:after {
        bottom: -6px;
        border-color: $color-tooltips-bg transparent;
      }
    }
  }
}

.tooltips-o {
  padding: 8px 20px;
  border: 1px #fce0d6 solid;
  line-height: 20px;
  overflow: hidden;
  background: $color-tooltips-bg;
  >.title {
    float: left;
    margin-right: 10px;
    color: #333;
  }
  >.content {
    color: #666;
    overflow: hidden;
  }
}

.tooltips-hover {
  position: relative;
  cursor: default;
  >.title {
    .icon {
      width: 12px;
      height: 12px;
      margin: 0 0 -2px 5px;
      background-image: url($bgGroup);
      background-position: -6px -192px;
    }
  }
  >.content {
    position: absolute;
    left: 0;
    top: 100%;
    max-width: 400px;
    padding: 7px 10px;
    border: 1px solid $color-border;
    color: #333;
    background: #fff;
    font-size: 14px;
    z-index: 1;
    opacity: 0;
    line-height: 20px;
    visibility: hidden;
    box-shadow: 0 0 1px $color-border;
    white-space: nowrap;
    @include trans(.2s);
    @include trf(rotateX(90deg));
    @include trf-origin(top);
    >.title {
      color: #000;
      margin-bottom: 4px;
      font-weight: 700;
    }
    >.content {
      display: inline-block;
      margin-top: 4px;
      line-height: 1.8;
      color: #666;
      font-size: 12px;
    }
  }
  &:hover {
    >.title {
      color: $color-primary;
      .icon {
        -ms-background-position-y: -177px;
        background-position-y: -177px;
      }
    }
    >.content {
      opacity: 1;
      @include trf(rotateX(0));
      visibility: visible;
    }
  }
  &.tooltips-hover-r {
    >.content {
      left: auto;
      right: 0;
    }
  }
} //气泡框
.bubble-box {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  background: #FFE6E2;
  border: 1px solid #FCD3CD;
  color: $color-danger;
  line-height: 28px;
  vertical-align: middle;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -6px;
    margin-left: -6px;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: #FCD3CD transparent;
  }
  &:after {
    top: -5px;
    border-color: #FFE6E2 transparent;
  }
  &.bubble-l {
    &:before,
    &:after {
      left: -6px;
      top: 50%;
      margin: 0;
      margin-top: -6px;
      border-width: 6px 6px 6px 0;
      border-color: transparent #FCD3CD;
    }
    &:after {
      left: -5px;
      border-color: transparent #FFE6E2;
    }
  }
  &.bubble-r {
    &:before,
    &:after {
      left: 100%;
      top: 50%;
      margin: 0;
      margin-top: -6px;
      border-width: 6px 0 6px 6px;
      border-color: transparent #FCD3CD;
    }
    &:after {
      margin-left: -1px;
      border-color: transparent #FFE6E2;
    }
  }
  &.bubble-b {
    &:before,
    &:after {
      top: 100%;
      border-width: 6px 6px 0 6px;
    }
    &:after {
      margin-top: -1px;
    }
  }
}