@import '_variables.scss';
@import 'baseSCSS.scss';
$line-height: (20/12);
$btn-line-height:26px;
$btn-big-font-size:16px;
$btn-big-line-height:42px;
$btn-bigger-font-size:18px;
$btn-bigger-line-height:38px;
$btn-border-radius:2px;
input[type=search],
input[type=text],
input[type=tel],
input[type=submit],
input[type=password],
input[type=number],
input[type=date],
input[type=color],
input[type=time],
button,
textarea,
select {
  padding: 0 5px;
  line-height: 44px; //font-size: $font-size;
  &:active {
    box-shadow: none;
  }
}

a,
label,
.dropdown,
.btn {
  text-decoration: none;
  @include tap-highlight-color(rgba(0, 0, 0, 0));
}

.align-ipt,
.align-btn {
  line-height: 44px;
  .btn.small {
    margin-top: -1px;
  }
}

pre {
  white-space: normal;
}

.table {
  tr {
    td {
      font-size: 14px;
    }
    input {
      border: 0;
      margin: 0;
      font-size: 14px;
      line-height: 32px;
    }
  }
}

.btns {
  line-height: 32px;
}

.btn {
  padding: 0 10px;
  line-height: 44px;
  +.btn {
    margin-left: 5px;
  }
  &:hover {
    background: #fff;
  }
  &:active {
    background: $color-btn-hover;
  }
  &.big {
    padding: 0 1.5em;
    font-size: $btn-big-font-size;
    line-height: $btn-big-line-height;
  }
  &.bigger {
    padding: 0 1.75em;
    font-size: $btn-bigger-font-size;
    line-height: $btn-bigger-line-height;
  }
}

.btn.block {
  line-height: 44px;
}

@each $btn-each,
$btn-color in (btn-info:$color-info, btn-primary:$color-primary, btn-ok:$color-ok, btn-warning:$color-warning, btn-danger:$color-danger) {
  .#{$btn-each} {
    color: #fff;
    background: $btn-color;

    &:visited {
      color: #fff;
    }
    &:hover {
      background: $btn-color;
    }
    &:active {
      color: #fff;
      background: darken($btn-color, 4%);
    }
  }
}

.btn-default {
  color: $color;
  background: $color-btn-hover;

  &:hover {
    background: darken($color-btn-hover, 4%);
  }
}

@each $btn,
$btn-color in (btn-primary-o:$color-primary, btn-info-o:$color-info, btn-warning-o:$color-warning, btn-danger-o:$color-danger) {
  .#{$btn} {
    color: $btn-color;
    background: #fff;
    &:visited {
      color: $btn-color;
    }
    &:hover {
      background: #fff;
    }
    &:active {
      background: $btn-color;
      color: #fff;
    }
  }
}

select {
  height: 32px;
  padding: 0 4px;
}

.text-muted {
  color: $color-muted-mobile;
}

body {
  color: $color;
  font: $font-family-mobile;
  line-height: $line-height-mobile;
  word-break: break-all;
  overflow-x: hidden;
}


@mixin header {
  height: 44px;
  padding: 0 10px;
  line-height: 44px;
  .title {
    padding-right: 60px;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    overflow-y: hidden;
    &.text-center {
      padding-left: 60px;
    }
  }
  .goback {
    @extend %goback;
    &+.title {
      padding-left: 36px;
      &.text-center {
        padding-left: 60px;
      }
    }
  }
  &.fixed {
    position: fixed;
    width: 100%;
    z-index: $z-index-header;
    ~.main {
      padding-top: 44px;
    }
  }
  .action {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    >.item {
      display: inline-block;
      padding-right: 8px;
      text-align: center;
    }
  }
}

%goback {
  position: absolute;
  left: 0;
  width: 44px;
  text-align: center;
  &:after {
    display: inline-block;
    width: 11px;
    height: 11px;
    content: '';
    border: 2px solid #fff;
    border-width: 2px 0 0 2px;
    @include trf(translate(0, 1px) rotate(-45deg));
  }
  &:active {
    background: rgba(0, 0, 0, .1);
  }
}


$color-anchor:#333;
a {
  color: $color-anchor;
  text-decoration: none;
}


.am-scale-b {
  @include trans(.3s, linear);
  @include anim(am-scale-b .3s);
}

@-webkit-keyframes am-scale-b {
  50% {
    @include trf-scale(1.2)
  }
}

@keyframes am-scale-b {
  50% {
    @include trf-scale(1.2)
  }
}

.pic-list {
  overflow: hidden;
  >.item {
    display: block;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid $color-border;
    @include trans(.2s);
    .inner {
      position: relative;
      overflow: hidden;
      img {
        float: left;
        padding-right: 10px;
        width: 70px;
        height: 60px;
      }
      >.content {
        overflow: hidden;
        >.title {
          line-height: 1.5;
          font-weight: 400;
          font-size: 13px;
          @include mul-line(2);
        }
        .emphasize {
          font-size: 16px;
        }
      }
    }
  }
}