<ul class="nav clearfix">
  <li><a href="javascript:;" class="title home">首页</a></li>
  <li class="item"><span class="title">采购</span>
    <ul class="subitem">
      <li><a href="purchase/check.html" data-target="check" class="btn btn-default small">采购单</a></li>
      <li><a href="purchase/addPurchaseOrder.html" data-target="addPurchaseOrder" class="btn btn-default small">添加采购单</a></li>
    </ul>
  </li>
  <li class="item"><span class="title">销售</span></li>
  <li class="item"><span class="title">仓库</span>
    <li class="item"><span class="title">财务</span>
      <li class="item"><span class="title">报表</span>
        <li class="item"><span class="title">基础设置</span>
        </li>
</ul>
