<script src="/dist/scripts/lib/zepto.min.js"></script>
<script src="/dist/scripts/lib/vue.min.js"></script>
<script src="/webConfig.js?rev=hash"></script>
<script src="/dist/scripts/lib/lodash.min.js"></script>
<script src="/dist/scripts/lib/dropload.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!-- <script src="/dist/scripts/lib/qrcode.lib.min.js"></script>
<script src="/dist/scripts/lib/qrcode.js"></script> -->
<script src="/dist/scripts/bundle/app.bundle.js?rev=hash"></script>