<script src="/dist/scripts/lib/jQuery.min.js"></script>
<script src="/dist/scripts/lib/vue.min.js"></script>
<script src="/webConfig.js?rev=hash"></script>
<script src="/dist/scripts/lib/lodash.min.js"></script>
<script src="/dist/scripts/bundle/main.bundle.js?rev=hash"></script>
<link rel="stylesheet" href="/dist/scripts/lib/my97datepicker/skin/wdatepicker.css">
<script src="/dist/scripts/lib/my97datepicker/wdatepicker.js"></script>
<script src="/dist/scripts/lib/ueditor/ueditor.config.js"></script>
<script src="/dist/scripts/lib/ueditor/ueditor.all.js"></script>
<script src="/dist/scripts/lib/ueditor/lang/zh-cn/zh-cn.js"></script>