@charset "utf-8";
@import './../base/basePC.scss'; //PC基础
@import './../base/_radio-check.scss'; //重写的单复选及多选中
@import './../base/_tooltips.scss'; //提示类
@import "./../base/_bg.scss"; //带颜色背景区
@import './../base/_scrollbar.scss';
$color-link-highlight: #3879d9;
$bgHelp:'#{$bgPath}/bgsHelp.png';
.m20 {
  margin: 20px;
}

.font-middle {
  font-size: 14px;
}

.highlight,
a.highlight {
  color: $color-link-highlight;
  &:hover {
    color: $color-link-highlight;
  }
}

.highlight2,
a.highlight2 {
  color: $color-primary;
}

body {
  background: #fff;
  min-width: 0;
  -ms-word-break: break-all;
  word-break: break-all;
  display: none;
}

.right-tips {
  text-align: center;
  line-height: 80px;
  font-size: 18px;
  color: $color-warning;
}

#header {
  line-height: 80px;
  box-shadow: 0 1px 4px #eee;
  margin-bottom: 20px;
  font-size: 18px;
  .tel {
    font-size: 14px;
    color: #999;
    text-decoration: none;
    .icon {
      background-image: url($bgHelp);
      background-position: -43px;
      margin-bottom: -5px;
      margin-right: 7px;
    }
  }
  .text {
    margin-left: 20px;
    padding: 3px 30px;
    border-left: 1px solid $color-border;
  }
}

.inner {
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
}

.folder {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    margin-left: 14px;
    margin-top: -1px;
    border-style: solid;
    border-width: 4px 3px 0;
    border-color: #666 transparent;
    @include trans(all .2s);
    @at-root .spread>& {
      @include trf(rotate(180deg));
    }
  }
}

.help {
  &.main {
    padding-left: 0;
    margin-bottom: 60px;
    .help-nav {
      float: left;
      width: 182px;
      margin-right: 20px;
      border: 1px solid $color-border;
      background: #FCFCFC;
      line-height: 48px;
      .intro {
        padding-left: 60px;
      }
      .list {
        >.item {
          border-top: 1px solid $color-border;
          >.content {
            padding: 8px 0;
            padding-top: 0;
            margin-top: -6px;
            height: 0;
            transform: rotateX(90deg);
            transform-origin: top;
            opacity: .7;
            overflow: hidden;
          }
          &.spread {
            >.content {
              height: auto;
              transform: rotateX(0);
              transition: .2s;
              opacity: 1;
            }
          }
        }
        .title,
        .link {
          position: relative;
          display: block;
          padding-left: 60px;
          text-decoration: none;
          line-height: 32px;
          cursor: pointer;
          &.on {
            color: $color-primary;
          }
        }
        .title {
          font-size: 14px;
          font-weight: 400;
          line-height: 48px;
          &:before {
            content: '';
            position: absolute;
            top: 50%;
            width: 14px;
            height: 15px;
            margin-left: -20px;
            margin-top: -6px;
            background-image: url($bgHelp);
            background-position: -68px;
          }
          &.product {
            &:before {
              background-position: -87px;
            }
          }
          &.order {
            &:before {
              background-position: -106px;
            }
          }
          &.customer {
            &:before {
              background-position: -125px;
            }
          }
          &.activity {
            &:before {
              background-position: -143px;
            }
          }
        }
        .inner-item {
          >.list {
            display: none;
          }
          &.spread {
            background: #F5F5F5;
            >.list {
              display: block;
            }
          }
        }
      }
      >.title {
        font-size: 14px;
      }
      >.content {}
    }
    .help-body {
      border: 1px solid $color-border;
      overflow: hidden;
    }
    .help-home {
      position: relative;
      min-height: 700px;
      background-image: url('#{$bgPath}/bg_help_home.jpg');
      display: none;
      .slogan {
        font-weight: 400;
        line-height: 110px;
        border-bottom: 1px solid $color-border;
        .icon {
          width: 38px;
          height: 38px;
          margin-right: 10px;
          margin-top: -5px;
          background-image: url($bgHelp);
          background-position: 0;
          vertical-align: middle;
        }
      }
      >.detail {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
        padding: 5px 60px;
        background: #fff;
        background: rgba(255, 255, 255, .95);
      }
      .menu {
        line-height: 40px;
        padding: 16px 2px;
        padding-bottom: 30px;
        font-size: 14px;
        .item {
          float: left;
          width: 50%;
          .link {
            padding: 0 10px;
            margin: 0 5px;
          }
        }
      }
    }
    .help-main {
      padding: 10px 30px;
    }
  }
  .help-crumb {
    margin: -10px -30px;
    padding: 10px 30px;
    border-bottom: 1px solid #ddd;
    color: #666;
    line-height: 28px;
    font-size: 14px;
  }
  .help-content {
    >.item {
      display: none;
      &.on {
        display: block;
      }
      >.title {
        margin: 10px 0;
        margin-top: 30px;
        font-size: 16px;
      }
      >.content {
        >.item {
          margin-bottom: 20px;
          >.title {
            position: relative;
            font-weight: 700;
            font-size: 15px;
            padding-left: 10px;
            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 6px;
              bottom: 6px;
              width: 3px;
              background: $color-primary;
            }
          }
        }
        .sub-title {
          margin: 10px;
          margin-left: 1em;
          font-size: 15px;
        }
      }
      img {
        max-width: 100%;
        margin: 2px 0;
        border: 1px solid $color-border;
      }
      .list {
        >li {
          margin-top: 5px;
          margin-bottom: 10px;
        }
        list-style: decimal;
        margin-left: 2em;
        font-size: 14px;
        line-height: 1.8;
        .title {
          font-weight: 400;
          font-size: 14px;
        }
        .content {
          color: #666;
        }
      }
    }
  }
}

#footer {
  line-height: 44px;
  font-size: 14px;
  background: #555;
  text-align: center;
  color: #ccc;
}
