@import "_variables.scss";
.tab-switcher {
    position: relative;
    border: 1px solid $color-border;
    line-height: 2;
    background: #fff;
    overflow: hidden;
    opacity: .95;
    white-space: normal;
    >.title {
        position: relative;
        margin-bottom: -2px;
        overflow: hidden;
        z-index: 3;
        >.item {
            display: table-cell;
            padding: 2px 8px;
            border-bottom: 2px solid $color-border;
            color: $color;
            text-decoration: none;
            cursor: pointer;
            white-space: nowrap;
            &:hover {
                color: $color-primary;
            }
            &:last-child {
                border-right-width: 0;
            }
            &.on {
                color: $color-primary;
                border-bottom-color: currentcolor;
            }
        }
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    >.content {
        border-top: 2px solid $color-border;
        overflow: hidden;
        >.item {
            display: none;
            &:first-child {
                display: block;
            }
            >.cell {
                display: inline-block;
                min-width: 5em;
                padding: 2px;
                text-align: center;
                &:hover {
                    color: $color-primary;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
}

.tab-switcher-vertical {
    //@extend .tab-switcher;
    >.title {
        float: left;
        margin-bottom: 0;
        margin-right: -1px;
        >.item {
            display: block;
            border: 1px solid $color-border;
            border-width: 0 1px 1px 0;
            &:last-child {
                border-bottom: 0;
                border-right-width: 1px;
            }
            &.on {
                border-bottom-color: $color-border;
                border-right-color: #fff;
            }
        }
    }
    >.content {
        padding: 0 5px;
        border: 0;
        border-left: 1px solid $color-border;
        >.item {
            >.cell {
                min-width: auto;
                padding: 2px 5px;
            }
        }
    }
}

.radio-switcher{
    >.content{
        >.item{
            display: none;
            &.on{
                display: block;
            }
        }
    }
}