@import '_variables.scss';
//字体fa切换至iconmoon重写
.fa {
    display: inline-block;
    line-height: 1;
    font-family: icomoon;
    font-size: inherit;
    -webkit-font-smoothing:antialiased;
    &:before {
        content: '';
    }
    &-user {
        &:before {
            content: "\e902";
        }
    }
    &-shopping-cart{
    	&:before{
    		content: "\e90c";
    	}
    }
    &-share-alt{
    	&:before{
    		content: "\e91a";
    	}
    }
    &-plus{
    	&:before{
    		content: "\e90e";
    	}
    }
    &-trash{
    	&:before{
    		content: "\e905";
    	}
    }
    &-search{
    	&:before{
    		content: "\e91b";
    	}
    }
    &-edit{
    	&:before{
    		content: "\e909";
    	}
    }
    &-check{
    	&:before{
    		content: "\e90b";
    	}
    }
    &-info{
    	&:before{
    		content: "\e918";
    	}
    }
    &-exclamation{
    	&:before{
    		content: "\e917";
    	}
    }
}