$color-link:#004D97!default;
$color-btn-primary:#009DD9;
$color-btn-warning:#f00;
@mixin am($content...) {
    -webkit-animation: $content;
    animation: $content;
}

@mixin br($r: 4px) {
    -webkit-border-radius: $r;
    border-radius: $r;
}

@mixin bs($content...) {
    -webkit-box-shadow: $content;
    box-shadow: $content;
}

@mixin dis-tc {
    display: table-cell;
}

@mixin dis-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

@mixin col3() {
    @include dis-tc;
    width: 100%/3;
}

@mixin col4() {
    @include dis-tc;
    width: 25%;
}

@mixin flex-center() {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-box-align:center;
    align-items: center;
}

@mixin flex-vertical-center() {
    display: -webkit-flex;
    display: flex;
    -webkit-box-align:center;
    align-items: center;
}

@mixin flex($r: 1) {
    display: block;
    -webkit-box-flex:$r;
    -webkit-flex: $r;
    flex: $r;
}

@mixin mul-line($num: 2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    overflow: hidden;
}

@mixin trf($var) {
    -webkit-transform: $var;
    transform: $var;
}

@mixin trf-tsl($x: 0, $y: -50%) {
    -webkit-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin trf-scl($r: .8) {
    -webkit-transform: scale($r);
    transform: scale($r);
}

@mixin trf-rot($r: 0) {
    -webkit-transform: rotate($r);
    transform: rotate($r);
}

@mixin trans($args...) {
    -webkit-transition: $args;
    transition: $args;
}

@mixin trans-trf($time: .3s, $tf: linear) {
    -webkit-transtion: -webkit-transform $time $tf;
    transition: transform $time $tf;
}

@mixin thc($c: rgba(0, 0, 0, 0.1)) {
    -webkit-tap-highlight-color: $c;
}

@mixin usn {
    -webkit-user-select: none;
    user-select: none;
}

@mixin vm {
    @include dis-tc;
    vertical-align: middle;
}

@mixin wthc($c: rgba(0, 0, 0, .1)) {
    -webkit-tap-highlight-color: $c;
}

@mixin wost {
    -webkit-overflow-scroll: touch;
}

@mixin wusn {
    -webkit-user-select: none;
}

* ,:before,:after{
    box-sizing: border-box;
}

.block {
    display: block;
    width: 100%;
}

.row {
    margin-bottom: 10px;
    padding: 0 10px;
    .negative-row{
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 -10px;
        &.block{
            width: auto;
        }
    }
}
.m5{
    margin: 5px;
}
.mt5{
    margin-top: 5px;
}
.mb5{
    margin-bottom: 5px;
}
.ml5{
    margin-left: 5px;
}
.mr5{
    margin-right: 5px;
}
.p5{
    padding: 5px;
}
.pl5{
    padding-left: 5px;
}
.pr5{
    padding-right: 5px;
}
.p10{
    padding: 10px;
}
.dis-flex{
    @include dis-flex;
    .item{
        @include flex;
    }
}
.arrow {
    &:not(.dropdown) {
        position: relative;
        padding-right: 12px;
        &:after {
            position: absolute;
            top: 50%;
            right: 2px;
            width: 11px;
            height: 11px;
            margin-top: -1px;
            content: '';
            box-shadow: 1px 1px #bbb;
            @include trf(rotate(-45deg) translate(0, -50%));
        }
    }
}

.dropdown {
    position: relative;
    overflow: visible!important;
    z-index: 1;
    input[type=text] {
        border: 0 !important;
        cursor: pointer;
    }
    .title {
        position: relative;
        padding-right: 20px;
        z-index: 1;
    }
    .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: #fff;
        -webkit-transform-origin: top;
        transform-origin: top;
        @include trans(all .2s);
        @include trf(rotateX(90deg));
        z-index: -1;
        opacity: 0;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        li {
            position: relative;
            &.on {
                &:after {
                    content: '';
                    position: absolute;
                    right: 14px;
                    top: 50%;
                    width: .5em;
                    height: .5em;
                    padding: 2px;
                    background: #0BD480;
                    //background:#f55;
                    @include br(100%);
                    @include trf(translate(0, -50%));
                }
            }
        }
    }
    &:after {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 11px;
        height: 11px;
        content: '';
        margin-top: -2px;
        box-shadow: 1px 1px #ccc;
        @include trans(all .3s);
        @include trf(rotate(-45deg) translate(0, -50%));
    }
    &.on {
        &:after {
            right: 12px;
            margin-top: -5px;
            @include trf(rotate(45deg) translate(0, -50%));
            box-shadow: 1px 1px #888;
        }
        .content {
            opacity: 1;
            z-index: 1;
            @include trf(rotateX(0));
        }
    }
}

.inputs {
    .item {
        position: relative;
        .tag {
            position: absolute;
            top: 50%;
            left: 10px;
            pointer-events: none;
            z-index: 50;
            @include trf-tsl(0,-50%);
        }
        input[type=text],
        input[type=tel],
        input[type=number],
        input[teyp=date] {
            width: 100%;
            padding: 0 0 0 6em;
            border: 0;
            text-align: right;
            outline: 0;
            &:focus {
                text-align: left;
            }
            &::-webkit-input-placeholder {
                text-align: right;
            }
        }

       &.notag{
        input[type=text],
        input[type=tel],
        input[type=number],
        input[teyp=date] {
            padding-left: 0;
            &::-webkit-input-placeholder{
                text-align: left;
            }
        }
    } 
    }
    
}

.required-mark {
    &:before {
        content: '*';
        color: #f00;
        margin: 1px;
    }
}

$color-radio:#08a1f1;
.radio{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    &:before,&:after{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border:1px solid #ccc;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
    }
    &:after{
        top: 5px;
        right: 5px;
        left: 5px;
        bottom: 5px;
        border:0;
    }
    &.on{
        &:after{
            background:$color-radio;
        }
    }
    &.check.on{
    &:before{
        background:#f55;
        border-color: #f55;
    }
    &:after{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        content: '\2713';
        line-height: 1;
        font-size: 12px;
        color: #fff;
        background:transparent;
    }
    }
}

.switcher{
    position: relative;
    display: inline-block;
    width: 28px;
    height: 26px;
    &:before{
        content: '';
        position: absolute;
        top: 7px;
        bottom: 7px;
        left: 0;
        right: 0;
        border:1px solid #ccc;
        background:#eee;
        -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    @include trans(.3s);
    }
    &:after{
        content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    @include trans(.5s);
    }
    &:after{
        background:#eee;
        border:1px solid #ccc;
        @include trans(all .3s linear);
    }
    &.on{
        &:before{
        background:lighten($color-radio,30%);
        border-color: lighten($color-radio,30%);

        }
        &:after{
            //left: 1rem;
            @include trf-tsl(1rem,0);
            background:$color-radio;
            border-color: $color-radio;
            box-shadow: 0 2px 1px #ddd;
        }
    }
}

// .switchbtn{
//     margin-right: 10px;
//     @include dis-ib;
//     line-height: 1.8;
//     background: #eee;
//     color: transparent;
//     border: 1px solid #999;
//     .br(3px);
//     cursor: pointer;
//     >span{
//         @include dis-ib;
//         padding: 0 8px;
//         box-shadow: inset 0 1px 2px #fff;
//     }
//     .closed{
//         background: #fff;
//         color: #999;
//         border-left: 1px solid #ddd;
//         border-radius: 0 2px 2px 0;
//     }
//     &.on{
//         .closed{
//             background: #eee;
//             color: transparent;
//         }
//         .opened{
//             background: #024686;
//             color: #fff;
//             border-radius: 2px 0 0 2px;
//             box-shadow: none;
//         }
//     }
// }
// .showbox ::-webkit-scrollbar {
//   width:6px;
//   height: 6px;
//   background: #ddd;
//   -webkit-border-radius: 4px;
//   border-radius: 4px;
// }
// .showbox ::-webkit-scrollbar-thumb {
//   background: #aaa;
//   -webkit-border-radius: 4px;
//   border-radius: 4px;
// }
// .showbox ::-webkit-scrollbar-thumb:hover {
//   background: #888;
// }
// input[type=range]{
//     background: #06c;
//     height: 6px;
//     @include br(3px);
//     padding: 0;
//     &:focus{
//         outline: 0;
//     }
// }
// input[type=range]::-webkit-slider-thumb{
//     -webkit-appearance:none;
//     height: 12px;
//     width: 12px;
//     background: #fff;
//     border: 1px soldi #666;
//     .br(100%);
//     &:hover{
//         background: #f2f2f2;
//     }
// }
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
dl,
dt,
dd,
table,
td,
th,
body {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

i,
em,
label {
    font-style: normal;
    font-weight: 400;
}

input[type=text],
input[type=tel],
input[type=submit],
input[type=password],
button,
textarea {
    font-size: 14px;
    font-family: 'Microsoft Yahei';
    -webkit-appearance: none;
    border: 1px solid #ddd;
    padding: 3px;
    @include wthc(rgba(0, 0, 0, 0));
    &:focus:invalid {
        background: #FFF1F1;
    }
}

select {
    border: 1px solid #ddd;
}

input[type=checkbox],
input[type=radio] {
    vertical-align: -2px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    background: #fff;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0px 10px;
    margin-bottom: 0;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        box-shadow: inset 0 0 100px rgba(0,0,0,.1);
    }
}

$color-btn-ok-bg:#4DCD70;
$color-btn-ok-color:#fff;
$color-btn-danger-bg:#f55;
$color-btn-warning-bg:#F98700;
$color-btn-default:#eee;
$color-btn-disabled:#ccc;

.btn-default{
    background:$color-btn-default;
    border-color: #ddd;
    color: #333;
}
.btn-primary {
    color: #fff;
    background: $color-btn-primary;
    border-color: darken($color-btn-primary, 5%);
}

.btn-ok {
    color: #fff;
    background: $color-btn-ok-bg;
    border-color: $color-btn-ok-bg;
}

.btn-warning{
    color: #fff;
    background:$color-btn-warning-bg;
    border-color:$color-btn-warning-bg;
}
.btn-danger{
    color: #fff;
    background:$color-btn-danger-bg;
    border-color: $color-btn-danger-bg;
}

.btn-disabled{
    color: #fff;
    background:$color-btn-disabled;
    border-color: $color-btn-disabled;
    opacity: .8;
    pointer-events:none;
}

.btn.block {
    display: block;
    margin: 10px auto;
    padding: 8px;
}
.noborder{
    border: 0;
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}


.fl {
    float: left;
}

.fr {
    float: right;
}

img {
    border: 0;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

$bg-default:#eee!default;
$bg-primary:#428bca!default;
$color-bg-default:#555!default;
$color-bg-primary:#fff!default;
$bg-ok:#dff0d8!default;
$color-bg-ok:#3c763d!default;
$bg-info:#d9edf7!default;
$bg-info:#E7F6FD;
$color-bg-info:#31708f!default;
$color-bg-info:#333;
$bg-warning:#fcf8e3!default;
$color-bg-waring:#8a6d3b!default;
$bg-danger:#f2dede!default;
$color-bg-danger:#a94442!default;
.bg-default {
    background-color: $bg-default;
    color: $color-bg-default;
    border: 1px solid darken($bg-default, 10%);
}

.bg-primary {
    background-color: $bg-primary;
    color: $color-bg-primary;
    border: 1px solid darken($bg-primary, 10%);
}

.bg-ok {
    background-color: $bg-ok;
    color: $color-bg-ok;
    border: 1px solid darken($bg-ok, 10%);
}

.bg-info {
    background-color: $bg-info;
    color: $color-bg-info;
    border: 1px solid darken($bg-info, 10%);
}

.bg-warning {
    background-color: $bg-info;
    color: $color-bg-info;
    border: 1px solid darken($bg-info, 10%);
}

.bg-danger {
    background-color: $bg-danger;
    color: $color-bg-danger;
    border: 1px solid darken($bg-danger, 10%);
}

.text-xs{
    font-size: 12px;
}
$color-muted:#888;
$color-primary:#333;
$color-info:#08A1F1;
$color-ok:#338C35!default;
$color-ok:#57af3a;
$color-warning:#E6DB5D!default;
$color-danger:#ed1d18;
.text-muted {
    color: $color-muted;
}

.text-muted.tips {
    font-size: 13px;
}

.text-primary {
    color: $color-primary;
}

.text-info {
    color: $color-info;
}

.text-ok {
    color: $color-ok;
}

.text-waring {
    color: $color-warning;
}

.text-danger {
    color: $color-danger;
}
html {
    min-height: 100%;
    font-size: 100%;
}

$color:#333!default;
$mobile-def-font:15px/1.5 "Helvetica Neue",
Helvetica,
Arial,
sans-serif!default;
$def-font:14px/1.5 'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
body {
    color: $color;
    font: $mobile-def-font;
    word-break:break-all;
}

hr {
    height: 1px;
    margin: 10px auto;
    border: 0;
    background: #ddd;
}

.table {
    width: 100%;
    display: table;
    .item{
        display: table-cell;
    }
}

@mixin header {
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
    .title {
        font-size: 20px;
        font-weight: 400;
    }
    .goback {
        @extend %goback;
        &+.title {
            padding-left: 45px;
            &.text-center {
                padding-left: 0;
            }
        }
    }
    &.fixed {
        position: fixed;
        width: 100%;
        z-index: 3;
        ~.main{
            padding-top: 44px;
        }
    }
}

%goback {
    position: absolute;
    left: 0;
    width: 44px;
    text-align: center;
    &:after {
        display: inline-block;
        width: 11px;
        height: 11px;
        content: '';
        border: 2px solid #fff;
        border-width: 2px 0 0 2px;
        @include trf(translate(0, 1px) rotate(-45deg));
    }
}

@mixin footer {
    height: 50px;
    line-height: 50px;
    &.fixed {
        position: fixed;
        bottom: 0;
        width: 100%;
        .operate {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: 0;
            padding: 0 30px;
            color: #fff;
            font-size: 16px;
            border-radius: 0;
            display: -webkit-flex;
            display: flex;
            align-items: center;
        }
    }
}

$color-anchor:#08A1EF;
$color-anchor-visited:#609;
$color-anchor-hover:#de2c3b;
$color-anchor-active:#e11;
@mixin PCanchor {
    color: $color-anchor;
    &:hover {
        text-decoration: underline;
    }
}

a {
    color: #333;
    text-decoration: none;
    @at-root button,&{
        @include wthc();
    }
}

.loading {
    position: relative;
    text-align: center;
    pointer-events: none;
    >* {
        opacity: 0;
    }
    &:before,
    &:after {
        content: '\6570\636E\52A0\8F7D\4E2D';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -3em;
        color: #888;
        @include trf(translateY(-50%));
    }
    &:after {
        content: '...';
        width: 1em;
        margin-left: 2em;
        @include am(loading 1.5s infinite);
    }
}

.loadmore {
    padding: 10px;
    color: #666;
}

@-webkit-keyframes loading {

    100% {
        width: 1em;
    }
}

@keyframes loading {

    100% {
        width: 1em;
    }

}

.am-scale-b{
    @include trans(.3s,linear);
    @include am(am-scale-b .3s);
}
@-webkit-keyframes am-scale-b {
    50% { @include trf-scl(1.2) }
}
@keyframes am-scale-b {
    50% { @include trf-scl(1.2) }
}