hr {
  height: 1px;
  margin: 10px auto;
  border: 0;
  background: #ddd; }

.table {
  width: 100%;
  display: table; }

* {
  box-sizing: border-box; }

.block {
  display: block;
  width: 100%; }

.row {
  margin-bottom: 10px;
  padding: 0 10px; }

.required-mark:before {
  content: '*';
  color: #f00;
  margin: 1px; }

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
dl,
dt,
dd, body {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

i,
em,
label {
  font-style: normal;
  font-weight: 400; }

input[type=text], input[type=tel], input[type=submit], input[type=password], button,
textarea {
  font-size: 14px;
  font-family: 'Microsoft Yahei';
  -webkit-appearance: none;
  border: 1px solid #ddd;
  padding: 3px;
  -webkit-tap-highlight-color: transparent; }
  input[type=text]:focus:invalid, input[type=tel]:focus:invalid, input[type=submit]:focus:invalid, input[type=password]:focus:invalid, button:focus:invalid,
  textarea:focus:invalid {
    background: #FFF1F1;
    border-color: #f00; }

select {
  border: 1px solid #ddd; }

input[type=checkbox], input[type=radio] {
  vertical-align: -2px; }

.btn {
  display: inline-block;
  font-weight: 400;
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px 12px;
  margin-bottom: 0;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer; }
  .btn:hover {
    background: #f2f2f2; }

.btn-primary {
  color: #fff;
  background: #009DD9;
  border-color: #008bc0; }
  .btn-primary:hover {
    background: #0078a6; }

.btn.block {
  display: block;
  margin: 10px auto;
  padding: 8px;
  font-size: 18px; }

.disabled {
  opacity: .7;
  pointer-events: none; }

.clearfix:after {
  display: table;
  content: "";
  clear: both; }

.color.light {
  color: #999; }

.fl {
  float: left; }

.fr {
  float: right; }

img {
  border: 0;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.bg-default {
  background-color: #eee;
  color: #555;
  border: 1px solid #d5d5d5; }

.bg-primary {
  background-color: #428bca;
  color: #fff;
  border: 1px solid #3071a9; }

.bg-ok {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #c1e2b3; }

.bg-info {
  background-color: #E7F6FD;
  color: #333;
  border: 1px solid #b8e4f9; }

.bg-waring {
  background-color: #E7F6FD;
  color: #333;
  border: 1px solid #b8e4f9; }

.bg-danger {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #e4b9b9; }

.text-muted {
  color: #aaa; }

.text-muted.tips {
  font-size: 13px; }

.text-primary {
  color: #333; }

.text-info {
  color: #08A1F1; }

.text-ok {
  color: #4CCD70; }

.text-waring {
  color: #E6DB5D; }

.text-danger {
  color: #E60606; }

.btn-ok {
  color: #fff;
  background: #4DCD70;
  border: 0; }
  .btn-ok:hover {
    background: #33b456; }

html {
  min-height: 100%;
  font-size: 100%; }

a {
  text-decoration: none; }

@-webkit-keyframes loading {
  0%,40% {
    content: '.'; }
  41%,66% {
    content: '..'; }
  70%,100% {
    content: '...'; } }
@keyframes loading {
  0%,40% {
    content: '.'; }
  41%,66% {
    content: '..'; }
  70%,100% {
    content: '...'; } }

/*# sourceMappingURL=baseSCSS.css.map */
