@charset "utf-8";
@import 'base/basePC.scss'; //PC基础
@import 'common/_dialog.scss'; //弹窗对话框
@import 'common/_pagination.scss'; //分页
@import 'common/_set.scss'; //左右两栏设置
@import 'base/_radio-check.scss'; //重写的单复选及多选中
// @import 'base/_animation.scss'; //部分动画
@import 'base/_tooltips.scss'; //提示类
@import 'base/_info_list.scss'; //提示类
@import "base/_bg.scss"; //带颜色背景区
@import 'base/_scrollbar.scss';
@import 'base/_switcher.scss'; //选项卡标题栏
@import 'common/_zmmtips.scss';
@import 'common/_justShow.scss';
@import 'common/_zmmTree.scss'; //导入通用样式
$color-link-highlight: #3879d9;
.m20 {
  margin: 20px;
}

.font-middle {
  font-size: 14px;
}

.highlight,
a.highlight {
  color: $color-link-highlight;
  &:hover {
    color: $color-link-highlight;
  }
}

.highlight2,
a.highlight2 {
  color: $color-primary;
}

// :focus,
// :active {
//   outline: 0;
// }
// ::moz-focus-inner {
//   border: 0;
//   outline: 0;
// }
body {
  background: #EAEAEA;
  min-width: 1260px;
  -ms-word-break: break-all;
  word-break: break-all;
}

.pageBox {
  line-height: 1;
  .pagination {
    margin: 10px 0 0 10px;
  }
}

.main {
  padding-left: 260px;
  >.side {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    z-index: 20;
    >.logo {
      height: 80px;
      background: $color-primary;
    }
    .menu {
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 10px 0;
      background: #333;
      color: #fff;
      font-size: 14px;
      overflow-x: hidden;
      @extend %scrollbar;
      >.item {
        >.title {
          position: relative;
          padding-left: 108px;
          font-size: 16px;
          font-weight: 400;
          line-height: 60px;
          -webkit-transition: all 0.1s;
          transition: all 0.1s;
          cursor: pointer;
          &:hover {
            background: darken(#333, 3%);
          }
          &:after {
            content: '';
            position: absolute;
            top: 29px;
            margin-left: 16px;
            border-style: solid;
            border-left-color: transparent;
            border-right-color: transparent;
            border-width: 4px 3px 0 3px;
            @include trans(.1s);
          }
          .icon {
            position: absolute;
            left: 78px;
            top: 21px;
            width: 22px;
            height: 20px;
          }
        }
        >.content {
          // height: 0;
          // @include trf-origin(top);
          // @include trf(rotateX(90deg));
          display: none;
          >.item {
            overflow: hidden;
          }
          .v-link-active {
            color: $color-primary;
          }
        }
        &.on {
          // background: #262628;
          >.title {
            color: $color-primary;
            .icon {
              -ms-background-position-x: -22px;
              background-position-x: -22px;
            }
            // &:after {
            //   @include trf(rotate(180deg));
            // }
          }
          >.content {
            // height: auto;
            // @include trans(transform .2s);
            // @include trf(rotateX(0));
            // display: block;
          }
        }
        &.spread {
          background: #262628;
          >.title {
            &:after {
              @include trf(rotate(180deg));
            }
          }
          >.content {
            display: block;
          }
        }
      }
      a {
        display: block;
        padding-left: 108px;
        line-height: 48px;
        margin: 1px 0;
        text-decoration: none;
        &:link,
        &:visited {
          color: #fff;
        }
        &:hover {
          color: $color-anchor-hover;
        }
      }
    }
  }
  >.header {
    position: relative;
    height: 80px;
    line-height: 80px;
    background: #fff;
    z-index: 10;
    font-size: 14px;
    text-align: right;
    box-shadow: 0 2px 4px #ddd;
    .item {
      position: relative;
      display: inline-block;
      padding: 0 20px;
      &:hover,
      &.active {
        color: #333;
        text-decoration: none;
        background: #FCFCFC;
      }
      &.logout {
        padding: 0 35px;
        margin-right: 0;
        &:before {
          content: '';
          position: absolute;
          left: 1px;
          top: 0;
          bottom: 0;
          width: 1px;
          background: $color-border;
        }
      }
    }
    .home,
    .uc,
    .logout,
    .help,
    .oldver {
      .icon {
        vertical-align: middle;
        margin-right: 5px;
        background: {
          image: url($bgGroup);
          repeat: no-repeat;
          position: -5px -6px;
        }
      }
    }
    .help {
      .icon {
        background-position: -61px -5px;
      }
    }
    .uc {
      .icon {
        background-position: -34px -5px;
      }
    }
    .logout {
      .icon {
        background-position: -89px -5px;
        margin-right: -8px;
      }
    }
    .oldver {
      float: left;
      margin-left: 8px;
      .icon {
        background-position: -112px -5px;
      }
    }
  }
  .content-field-title {
    font-size: 14px;
  }
  >.body {
    padding: 0;
    .content-title {
      height: 60px;
      padding: 0 30px;
      border-bottom: 1px solid $color-border;
      background: #fcfcfc;
      font-size: 16px;
      font-weight: 700;
      line-height: 60px;
      .action {
        .item {
          font-size: 14px;
          font-weight: 400;
        }
      }
      &.always-show {
        position: fixed;
        left: 260px;
        top: 0;
        right: 0;
        z-index: 20;
        +.content-field {
          margin-top: 80px;
        }
      }
    }
    .content-field {
      position: relative;
      margin: 20px 20px 0;
      padding: 20px;
      background: #fff;
      >.box {
        border: 1px solid $color-border;
        .tree {
          min-height: 400px;
          float: left;
          margin-right: -1px;
          border-right: 1px solid $color-border;
        }
        >.content {
          padding: 10px 30px;
          border-left: 1px solid $color-border;
          overflow: hidden;
        }
      }
      .level-left-cont {
        @extend %scrollbar-white;
      }
      &+.content-field {
        margin-top: 10px;
        min-height: 0;
      }
    }
    .datalist {
      margin: 16px 0 0;
      +.datalist {
        margin-top: 8px;
      }
    }
  }
}

.goods-bind-list {
  >.item {
    margin: 5px -5px;
    padding: 2px 5px;
    &:hover {
      background: $color-table-tr-hover;
    }
  }
}

.info-role {
  .table {
    >tbody {
      >tr {
        >th {
          font-size: 14px;
          color: #333;
          text-align: center;
        }
        td {
          color: #333;
        }
      }
    }
  }
  .upload_box {
    font-size: 0;
    form {
      display: inline-block;
    }
    .cselectorImageUL {
      .uploadImage:empty {
        ~[id^='fomimg'] {
          left: 0;
        }
      }
      [id^='fomimg'] {
        width: 78px;
        left: 38px;
        top: 6px;
      }
      img {
        width: 32px;
        height: 30px;
        margin: 0 5px 0 0;
      }
      .uploadImage_del {
        top: 6px;
      }
    }
  }
}

#ShowTableArea {
  height: 365px;
  overflow-x: hidden;
  .imei-list {
    @extend %scrollbar-white;
  }
}

.id-img {
  width: 100px;
  height: 100px;
  margin-bottom: 14px;
  border: 1px solid $color-border;
}

.colorful-bar {
  display: block;
  height: 6px;
  background-image: linear-gradient(-45deg, #056DC2, #056DC2 15.5%, #fff 13.5%, #fff 38%, #BE0108 38%, #BE0108 62%, #fff 62%, #fff 86%, #056DC2 86%, #056DC2 100%);
  background-position: bottom right;
  -webkit-background-size: 60px 6px;
  background-size: 60px 6px;
  background-repeat: repeat-x;
}

.newline {
  margin-top: 14px;
}

.money-mark {
  position: relative;
  .com-ipt {
    padding-left: 20px;
  }
  &:before {
    content: '￥';
    position: absolute;
    left: 4px;
    top: 2px;
    line-height: 1;
    font-size: 14px;
    color: #999;
  }
}

.user-add {
  .area-selector {
    >.row {
      border: 0;
      padding: 5px;
    }
  }
}

.area-price {
  >.item {
    padding: 4px 0;
    border-top: 1px dashed $color-border;
    &:first-child {
      border-top: 0;
    }
  }
}

.area.tooltips-hover {
  >.content {
    width: 500px;
    white-space: normal;
    line-height: 2;
    font-size: 13px;
    text-align: left;
    color: #666;
  }
}

.data-empty {
  text-align: center;
  .icon {
    width: 50px;
    height: 50px;
    margin-bottom: -90px;
    background: url($bgGroup) -38px -154px;
  }
  .text {
    text-align: center;
    line-height: 200px;
  }
}

.goods {
  &.datalist {
    border-collapse: separate;
    th,
    td {
      &:first-child {
        border-left: 0!important;
      }
    }
    &:hover {
      border-color: #f1d7cd;
      outline: 1px solid #f1d7cd;
    }
  }
  .goods-head {
    padding-left: 5px;
    text-align: left;
    .cell {
      display: inline;
      margin-right: 20px;
    }
  }
  &.datalist {
    .info {
      margin: 6px 4px;
      text-align: left;
      line-height: 22px;
      .link,
      .intro {
        display: table-cell;
        vertical-align: middle;
        .gift {
          .icon {
            background: url($bgGroup) -4px -156px;
            margin-bottom: -4px;
          }
        }
      }
      .link {
        width: 110px;
        height: 100px;
        table-layout: fixed;
        padding-right: 10px;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.goods-recommend {
  margin: 10px 40px;
  padding: 30px;
  border: 1px solid $color-border;
  .rd-list {
    margin: 0 -30px;
    padding: 0 30px;
    border-bottom: 1px solid $color-border;
    .item {
      position: relative;
      display: inline-block;
      width: 222px;
      padding: 10px;
      margin-bottom: 20px;
      margin-right: 20px;
      border: 1px solid $color-border;
      text-align: center;
      @include trans(.2s);
      &:hover {
        @include box-shadow(0 0 4px #ccc);
      }
      .del {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 0 5px;
        font-weight: 700;
        font-size: 22px;
        color: #999;
        line-height: 1;
        text-decoration: none;
        display: none;
        &:hover {
          color: $color-warning;
        }
      }
      &:hover {
        .del {
          display: block;
        }
      }
      .inner {
        display: table-cell;
        width: 800px;
        height: 200px;
        vertical-align: middle;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .action {
        margin-top: 10px;
        .icon {
          background-image: url($bgGroup);
          background-position: -94px -156px;
        }
        .reduce {
          margin-left: 5px;
          background-position-y: -180px;
        }
        .disabled {
          opacity: 0.35;
        }
      }
    }
  }
}

.check-code {
  display: inline-block;
  padding: 90px 150px;
  margin-top: 50px;
  border: 1px solid $color-border;
  text-align: left;
  input {
    margin-top: 20px;
    line-height: 20px;
  }
  .specification {
    color: #666;
  }
  .phone-box {
    position: relative;
    input {
      padding-right: 100px;
    }
    .get-code {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
  .action {
    margin-top: 25px;
    overflow: hidden;
    >.item {
      float: left;
      width: 50%;
    }
  }
}

.activity-add {
  &.table {
    thead {
      th {
        padding: 10px;
        line-height: 46px;
      }
    }
  }
}

.activity-type {
  display: inline-block;
  margin-top: -1px;
  margin-bottom: -10px;
  .radio {
    .icon {
      top: 11px;
    }
    .text {
      position: relative;
      display: inline-block;
      padding: 2px;
      line-height: 13px;
      border: 1px solid transparent;
      &:before {
        content: '';
        position: absolute;
        top: -5px;
        left: 50%;
        @include trf(translate(-50%, 0));
        width: 24px;
        height: 5px;
        background-image: url($bgGroup);
        background-position: -90px -36px;
        display: none;
      }
    }
    input[type=radio] {
      &:checked {
        &~.text {
          color: $color-warning;
          border-color: $color-warning;
          &:before {
            display: block;
          }
        }
      }
    }
  }
}

.searchProduct {
  th {
    text-align: left!important;
  }
}

.goods-list {
  min-height: 200px;
  max-height: 340px;
  overflow-x: hidden;
  @extend %scrollbar-white;
  >.inner {
    >.item {
      .info {
        @extend .text-ellipsis;
      }
      padding: 0 1em;
      line-height: 30px;
      &:hover {
        background: $color-table-tr-hover;
        .action {
          color: $color-link-highlight;
        }
      }
    }
  }
}

.av-look {
  padding: 0 20px;
  >.set {
    >.item {
      padding: 0;
      line-height: 28px;
      font-size: 14px;
    }
  }
}

.cselectorImageUL {
  [id^='fomimg'] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100px;
    height: 30px;
    opacity: 0;
    z-index: 2;
    overflow: hidden;
  }
  input[type=file] {
    display: block;
    height: 100%;
  }
  [id^=uploadImg] {
    position: relative;
    img {
      width: 100px;
      height: 100px;
      margin-top: 10px;
      border: 1px solid #ddd;
    }
  }
  .uploadImage_del {
    position: absolute;
    top: 14px;
    margin-left: -20px;
    height: 16px;
    width: 16px;
    overflow: hidden;
    background: #333;
    color: transparent;
    opacity: 0.96;
    cursor: pointer;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    &:before {
      content: '\00D7';
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      color: #fff;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
    }
    &:hover {
      background: $color-danger;
    }
  }
}

.upload_box {
  position: relative;
}

.table {
  th,
  td {
    .goods-list {
      margin: -8px -5px;
      padding: 6px 0;
    }
  }
}

.copyright {
  padding-left: 260px;
  color: $color-muted;
  line-height: 30px;
  text-align: center;
}

.quick-actions {
  right: 1px;
  bottom: 30px;
  width: 44px;
  background: {
    color: white;
  }
  ;
  box-shadow:0 1px 3px rgba(0, 0, 0, .07);
  ul {
    > li {
      cursor: pointer;
      text-align: center;
      height: 44px;
      line-height: 44px;
      border: 1px solid #EAEAEA;
      position: relative;
      transition: .25s;
      &:hover {
        border-color: #179c6a;
        z-index: 20;
      }
      &:not(:first-child) {
        margin-top: -1px;
      }
      &.quick-actions-msg {
        i {
          width: 9px;
          height: 9px;
          border: 2px solid white;
          display: inline-block;
          position: absolute;
          z-index: 21;
          background-color: #f26432;
          border-radius: 50%;
          top: 12px;
          right: 8px;
        }
        .quick-actions-msg-text {
          position: absolute;
          z-index: 22;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: #179C6A;
          padding: 8px 9px;
          background: #fff;
          line-height: 13px;
          display: none;
        }
        &:hover {
          span.quick-actions-msg-text {
            display: block;
          }
        }
      }
      &.quick-actions-help {
        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: #179c6a;
          text-decoration: none;
          padding: 8px 9px;
          background: #fff;
          line-height: 13px;
          display: none;
        }
        &:hover {
          a {
            display: block;
          }
        }
      }
      &.quick-actions-gotop {
        .quick-actions-gotop-text {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: #179C6A;
          padding: 8px 9px;
          background: #fff;
          line-height: 13px;
          display: none;
        }
        &:hover {
          span.quick-actions-gotop-text {
            display: block;
          }
        }
      }
      > span {
        width: 18px;
        height: 16px;
        display: inline-block;
        background: {
          image: url($bgGroup);
          repeat: no-repeat;
        }
        position:relative;
        &.quick-actions-msg-icon {
          background-position: -116px -27px;
        }
        &.quick-actions-help-icon {
          background-position: -116px -49px;
          margin: {
            top: -5px;
          }
          ;
          vertical-align:middle;
        }
        &.quick-actions-gotop-icon {
          background-position: -116px -70px;
          margin: {
            top: -5px;
          }
          ;
          vertical-align:middle;
        }
      }
    }
  }
}

.default-refresh {
  width: 18px;
  height: 16px;
  display: inline-block;
  background: {
    image: url($bgGroup);
    position: -116px -98px;
  }
}
