@charset "utf-8";
@import 'base/basePC.scss'; //基础
@import 'base/_table.scss';
@import 'common/_dialog.scss';
@import 'base/_info_list.scss';
@import 'common/_set.scss'; //左右两栏设置
@import 'base/_radio-check.scss'; //重写的单复选及多选中
@import "base/_bg.scss"; //带颜色背景区
@import "base/_tooltips.scss"; //气泡提示文字
@import "base/_tag.scss"; //标签全套
@import "base/_switcher.scss"; //选项卡切换
@import 'common/_zmmtips.scss';
@import 'common/_justShow.scss'; //左右两列，左文字居右风格表格展示
@import 'common/_pagination.scss'; //分页
@import 'common/_f_project.scss'; //团队成员项目附加1
@import 'common/_progress.scss'; //进度条
@import 'apply/_apply.scss'; //申请入驻相关页面
// @import 'base/_scrollbar.scss';
$color-link-highlight: $color-anchor-highlight;
$color-bg-gray:#F3F4F6;
$color-border-light:#F3F4F6;

.bg-gray {
  background: $color-bg-gray;
}

.text-lighter {
  color: #ccc;
}

.text-light {
  color: #999;
}

.text-gray {
  color: #666;
}

.tips {
  &.error {
    display: block;
    margin-left: 5px;
    line-height: 24px;
    color: $color-danger;
  }
}

.border-box {
  border: 1px solid #F1F5F8;
}

.radius-box {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}

hr {
  margin: 10px 0;
  height: 0;
  border-top: 1px solid $color-border;
  &.dashed {
    border-top-style: dashed;
  }
}

.iconfont {
  display: initial;
  background-position: 0;
  -webkit-background-size: 0;
  background-size: 0;
}

.icon {
  &.icon-down,
  &.icon-up {
    width: auto;
    height: auto;
    color: #999;
    background: 0;
    font-size: 15px;
    font-family: "iconfont" !important;
    line-height: 1;
    text-decoration: none;
    &:before {
      content: "\e73f";
    }
  }
  &.icon-down {
    &:before {
      content: "\e741";
    }
  }
}

body {
  background: $color-bg-gray;
  overflow-x: hidden;
}


.ipt-with-tips {
  position: relative;
  display: inline-block;
  z-index: 3;
  .tooltips-i {
    position: absolute;
    right: 0;
    top: 32px;
  }
}

.tab-bar {
  display: inline-block;
  margin-right: 5px;
  line-height: 28px;
  vertical-align: middle;
  font-size: 0;
  >.item {
    display: inline-block;
    font-size: 12px;
    background: #F3F4F6;
    border: 1px solid $color-border;
    padding: 0 20px;
    cursor: pointer;
    text-decoration: none;
    margin-left: -1px;
    vertical-align: middle;
    &:first-child {
      margin-left: 0;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    &:last-child {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    &.on {
      background: #fff;
      font-weight: 700;
    }
  }
}

.home-wrapper {
  padding-top: 60px;
  padding-left: 200px;
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  line-height: 60px;
  height: 60px;
  z-index: 12;
  box-shadow: 0 2px 1px #eee;
  .nav {
    display: inline-block;
  }
  .logo {
    display: inline-block;
    width: 200px;
    padding: 0 10px;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #666;
    vertical-align: top;
    &:hover {
      color: $color-primary;
    }
    &:focus {
      outline: 0;
    }
  }
  .action {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    >.item {
      padding: 0 14px;
      border-left: 1px solid $color-border;
      &:first-child {
        border-left: 0;
      }
    }
    .iconfont {
      font-size: 20px;
    }
  }
  .nav {
    font-size: 14px;
    margin-left: 20px;
    .iconfont {
      font-size: 15px;
    }
    >.item {
      margin-right: 20px;
      padding: 0 5px;
      &.on {
        color: $color-primary;
        .iconfont {
          color: inherit;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          background: $color-primary;
        }
      }
    }
  }
}

.main {
  margin: 20px;
  margin-bottom: 0;
  padding: 15px 30px;
  background: #fff;
  min-height: calc(100vh - 80px);
  >.content-title {
    font-size: 14px;
    margin: 5px 0;
    padding-bottom: 10px;
  }
}

.fixed-footer {
  position: fixed;
  left: 220px;
  right: 20px;
  bottom: 0;
  background: #fff;
  height: 70px;
  line-height: 70px;
  z-index: 15;
  box-shadow: 0 -1px 2px #f2f2f2;
  &+.content-field {
    padding-bottom: 70px;
  }
}

#nav {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 200px;
  padding-top: 20px;
  color: #fff;
  background: #4D4948;
  z-index: 15;
  line-height: 40px;
  .icon {
    font-size: 14px;
    margin-right: 8px;
  }
  .link {
    display: block;
    position: relative;
    padding-left: 30px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background: #545454;
    }
    &.on {
      background: #403F3D;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 3px;
        top: 0;
        bottom: 0;
        background: $color-primary;
      }
    }
  }
  >.list {
    .title {
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      color: #999;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: inherit;
        border-left-color: transparent;
        border-right-color: transparent;
        border-width: 4px 4px 0;
        margin-top: -2px;
        transition: .2s;
      }
      &~.list {
        display: none;
      }
      &.spread {
        color: #fff;
        &:after {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
        &~.list {
          display: block;
        }
      }
    }
  }
}

#login-box {
  text-align: center;
  margin-top: 50px;
  >.content {
    display: inline-block;
  }
}

::-webkit-input-placeholder {
  color: #ccc;
}

.datalist {
  margin-top: 15px;
}

.upload-box {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px dashed $color-border;
  line-height: 80px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  &:before {
    display: inline-block;
    margin-top: -4px;
    content: '+';
    font-size: 32px;
    color: #D4DBE1;
  }
  .btn {
    display: none;
  }
}

.table {
  .upload-box,
  .upload-img-list>.item {
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    .del {
      -webkit-transform: scale(.8);
      -moz-transform: scale(.8);
      -ms-transform: scale(.8);
      -o-transform: scale(.8);
      transform: scale(.8);
    }
  }
}

.upload-img-list {
  display: inline-block;
  >.item {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    border: 1px solid $color-border;
    vertical-align: middle;
    text-align: center;
    font-size: 0;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    img,
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
    .del {
      position: absolute;
      right: -5px;
      top: -5px;
      width: 14px;
      height: 14px;
      line-height: 1;
      text-align: center;
      font-size: 14px;
      color: #fff;
      background: #666;
      cursor: pointer;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      z-index: 5;
      &:before {
        content: '\0000D7'
      }
    }
  }
}

.search-box {
  line-height: 30px;
  .ipt-search {
    width: 240px;
    +.btn-search {
      margin-left: 5px;
    }
  }
}

.two-column-view {
  >.item {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid $color-border-light;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
    >.title {
      font-size: 14px;
    }
    >.content {
      padding-left: 150px;
    }
  }
}

.huodongshenbao {
  >.item {
    display: inline-block;
    width: 690px;
    height: 290px;
    margin: 0 15px 30px;
    border: 1px solid $color-border-light;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    >.title {
      padding: 25px 30px;
      font-size: 14px;
      >table {
        width: 100%;
      }
      img {
        width: 80px;
        height: 80px;
      }
      .link {
        float: right;
        &:hover {
          color: $color-primary;
        }
      }
      .title {
        font-size: 18px;
        line-height: 2;
        color: #333;
      }
      .intro {
        color: #333;
        font-size: 14px;
      }
    }
    >.content {
      height: 50%;
      position: relative;
      padding: 20px 30px;
      padding-bottom: 50px;
      border-top: 1px solid $color-border-light;
      line-height: 2;
      color: #666;
      .detail {
        height: 100%;
        overflow: hidden;
      }
      .info {
        position: absolute;
        bottom: 10px;
      }
    }
  }
}

.z-tree {
  display: inline-block;
  width: 200px;
  padding: 10px;
  overflow-x: hidden;
  background: $color-bg-gray;
  line-height: 40px;
  color: #555;
  @extend %scrollbar-thin;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  .list {
    .dead {
      >.title {
        padding-left: 10px !important;
      }
    }
    >.item {
      .title {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        &:before {
          position: relative;
          top: -1px;
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          margin-right: 5px;
          margin-top: -2px;
          border-style: solid;
          border-width: 3px 0 3px 4px;
          border-color: transparent;
          border-left-color: inherit;
        }
      }
      .list-end {
        .title {
          padding-left: 50px;
          &:before {
            display: none;
          }
        }
      }
      &.spread {
        >.title {
          &:before {
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
          }
        }
        >.list {
          display: block;
        }
      }
      &.on {
        >.title {
          background: #fff;
          color: $color-primary;
          -webkit-border-radius: $border-radius;
          -moz-border-radius: $border-radius;
          border-radius: $border-radius;
        }
      }
      >.action {
        display: none;
        >.item {
          margin-left: 1px;
          font-size: 14px;
          color: #999;
          text-decoration: none;
        }
        a {
          &:focus {
            outline: 0;
          }
        }
      }
      &:hover {
        >.action {
          display: block;
        }
      }
    }
    .list {
      display: none;
    }
  }
}

.goods-category {
  .category-tree {
    float: left;
    margin-right: 20px;
    min-height: calc(100vh - 120px);
  }
  .data-content {
    overflow: hidden;
  }
}

.with-aside-box {
  display: flex;
  overflow-x: hidden;
  border: 1px solid $color-border-light;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  >.aside {
    width: 200px;
    padding: 10px;
    background: #F3F4F6;
    line-height: 40px;
    >.list {
      >.item {
        padding: 0 10px;
        cursor: pointer;
        -webkit-border-radius: $border-radius;
        -moz-border-radius: $border-radius;
        border-radius: $border-radius;
        &:hover {
          background: #fff;
        }
        &.on {
          background: #fff;
          color: $color-primary;
        }
      }
    }
  }
  >.content {
    padding: 10px;
    flex: 1;
  }
}

.audit-flow {
  border: 1px solid $color-border-light;
  background: #FCFCFC;

  color: #666;
  line-height: 1;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  >.item {
    position: relative;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 12px;
    border-left: 1px solid $color-border-light;
    &:first-child {
      margin-top: 20px;
      padding-top: 0;
      >.time {
        &:before {
          border: 3px solid $color-primary;
        }
      }
    }
    >.time {
      position: relative;
      color: #333;
      &:before {
        content: '';
        position: absolute;
        left: -12px;
        width: 9px;
        height: 9px;
        margin-left: -5px;
        margin-top: 2px;
        background: #fff;
        border: 2px solid $color-border;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
      }
    }
    >.detail {
      margin-top: 5px;
      line-height: 20px;
    }
  }
}