<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>VUE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/src/styles/vue.css">
</head>

<body>
    <header id="header">
        <h1>Vue.js</h1></header>
    <div id="app">
        <div class="e1">
            <p id='{{id}}'>{{ message?message:'default string' }}
            </p>
            <input type="text" v-model="message">
            <p>
                <button v-on:click="reverseMessage">Reverse Message</button>
            </p>
        </div>
        <div class="e2">
            <ul>
                <li v-for="todo in todos">
                    {{ todo.text | capitalize }}
                </li>
            </ul>
        </div>
    </div>


    <div id="app2">
    <h3>事件及过滤  v-on、v-bind</h3>
        <input type="text" v-model='newTodo' @keyup.enter='addNewTodo'>
        <ul>
            <li v-for="todo in todos">
            <a :href="url">Google</a>
                <span>{{todo.text|uppercase}}</span>
                <button v-on:click="removeTodo($index)">X</button>
            </li>
        </ul>
        <p v-if="greeting">Hello</p>
    </div>
    <div id='computed'>
        <h3>计算属性 :computed</h3>
        <p>a={{a}},b={{b}}</p>
        <p><input type="text" v-model='firstName'><input type="text" v-model='lastName'> fullName: <span contenteditable>{{fullName}}</span></p>
    </div>

    <div id="style">
        <h3>class和style</h3>
    </div>
    <script src="/src/scripts/lib/vue.js"></script>
    <script>
    var data = {
        id:'data1',
        message: 'Hello Vue.js!',
        todos: [{
            text: 'Learn javaScript'
        }, {
            text: 'Learn Vue.js'
        }],
    }
    var vm1 = new Vue({
        el: '#app',
        data: data,
        methods: {
            reverseMessage: function() {
                this.message = this.message.split('').reverse().join('')
            }
        },
        created: function() {
            console.log('data is ',this.message)
        }
    })

    vm1.$watch('message',function(newVal,oldVal){
        if(newVal=='new'){
            console.log('change')
        }
    })

    var vm2=new Vue({
        el: '#app2',
        data: {
            url:'http://www.google.com',
            newTodo: '',
            todos: [{
                text: 'todosssss'
            }],
            greeting: true
        },
        methods: {
            addNewTodo: function() {
                var text = this.newTodo.trim();
                if (text) {
                    this.todos.push({
                        text: text
                    });
                    this.newTodo = ''
                }
            },
            removeTodo: function(index) {
                this.todos.splice(index, 1);
            }
        },
        computed:{
            b:function(){
                return this.a+1
            }
        }
    })
    var vmComputed=new Vue({
        el:'#computed',
        data:{
            a:1,
            firstName:'Steven',
            lastName:'Jobs'
        },
        computed:{
            b:function(){
                return this.a+1
            },
            // fullName:function(){
            //     return this.firstName+' '+this.lastName
            // }
            // 存储器式写法
            fullName:{
                get:function(){
                    return this.firstName+' '+this.lastName
                },
                set:function(val){
                    var name=val.split(' ');
                    this.firstName=name[0],this.lastName=name[1]
                }
            }
        }
    })


    </script>
</body>

</html>
